[2013-03-07 17:24] pixelzoom opened #1 "add distance to vectors"
Add convenience method for determining the distance between the tips of 2 vectors. Important because PhET uses vectors for points.  Essentially abs(vector1-vector2).

[2013-03-07 17:57] #1 closed, assigned to jonathanolson

[2013-03-15 19:19] samreid opened #2 "Is negative scaling supported?"
I was trying to use a negative scale {x:-1,y:1} to flip images for the forces and motion sim, but they weren't working properly.  I checked and it seems like dot.matrix3.getScaleVector() is having a problem.

[2013-03-20 08:16] #2 closed, assigned to nobody

[2013-04-15 15:15] samreid opened #3 "Vector2.rotate is calling getMagnitude() which was renamed to magnitude()"
Current code is:

[code]

Proposed fix:

[code]

[2013-04-15 15:16] #3 closed, assigned to nobody

[2013-05-31 22:48] pixelzoom opened #4 "separate or rename dot.Util"
JO was considering moving each function in dot.Util to a separate file. Though having them all in one file is a little more convenient when you're going to use multiple functions, only requires one import.

If we don't separate them, then this should be renamed to something like MathUtils. var Util = require("DOT/Util") doesn't really tell me what Util is when I'm reading code.

[2013-08-28 23:44] samreid opened #5 "dot.Vector2.blend seems a bit allocation-heavy"
Still trying to figure out how much GC is affecting performance, I noticed dot.Vector2.blend looks like this:

[code]

Other dot methods seem similarly easy to read but also allocation-heavy.  Should we address this?

[2013-08-30 02:46] #5 closed, assigned to jonathanolson

[2013-09-04 17:49] pixelzoom opened #6 "add dot.Rectangle"
Bounds2.rect(x,y,width,height) allows you to create a Bounds2 using typical rectangle constructor args.  But it might be nice to have a first-class Rectangle type. Looks like this could be accomplished by subclassing Bounds2.

Not high priority, but it would be nice for porting from Java.

[2013-09-06 02:15] #6 closed, assigned to nobody

[2013-09-09 18:59] jonathanolson opened #7 "Add random number utilities (and seedable generator)"
Mersenne Twister, random integers in a range, etc.

[2013-09-27 02:23] jonathanolson opened #8 "Make the 3D-manipulation utilities match the 2D"
For instance, Matrix4 / Matrix3, and Transform4 / Transform3.

[2013-11-06 16:31] samreid opened #9 "rename set methods"
In order to avoid collisions with Property.set, the dot "set" methods like Vector2.set, Bounds2.set, etc. should be renamed.

We should have
Vector2.set=>setXY
Vector3.set=>setXYZ
Vector4.set=>setXYZ
Quaternion.set=>setXYZW
Bounds2.set=>setMinMax
Transform.set=>setMatrix

[2013-11-13 01:12] pixelzoom opened #10 "Util.toFixed doesn't guarantee requested number of decimal places"
Util.toFixed was implemented because we needed a predictable version of Javascript's toFixed. JavaScript's toFixed is notoriously buggy, behavior differs depending on browser because the spec doesn't specify whether to round or floor.

The current implementation has a bug. Unlike JavaScript's toFixed, it doesn't guarantee the requested number of decimal places. For example:

[code]

[2013-11-13 18:49] #10 closed, assigned to nobody

[2013-11-13 20:00] jonathanolson opened #11 "Try typed arrays for Vector/Bounds performance"
http://www.html5rocks.com/en/tutorials/performance/mystery/ indicates that writing float updates as properties boxes them and allocations on the heap. We want to avoid that.

[2014-02-05 18:48] jonathanolson opened #12 "Create or modify a type to support Java's AffineTransform-style API"
This would make composition of transforms more natural.

[2014-02-12 21:37] pixelzoom opened #13 "Vector2.angleBetween problems"
Examples:

[code]
I would expect the angle to be the same for both examples. Example 1 is failing due to improper handling of (0,0), resulting in a divide-by-zero error.

I was also a little surprised that Example 2 returns the same angle for v1.angleBetween(v2) and v2.angleBetween(v1).  I expected the angle to be relative to the vector whose angleBetween function is being called, but apparently i

[2014-02-13 20:15] pixelzoom opened #14 "rewrite Util.toFixed and toFixedNumber"
toFixedNumber currently uses parseFloat, which may (?) not be guaranteed to convert to the proper value in some cases.

It would be better to have toFixedNumber do a purely numeric conversion to the desired number of decimal places. Then toFixed would become toFixedNumber(…).toString.

[2014-03-06 22:47] jonathanolson opened #15 "Reverse Bounds2 corner/midpoint getter names"
They should be in the form XY, for instance 'leftTop' instead of 'upperLeft'.

[2014-03-13 01:56] #15 closed, assigned to nobody

[2014-04-23 05:06] jonathanolson opened #16 "Add Polynomial type"
Useful for many things, including placing our polynomial root-finding methods there, and for splines in Kite.

[2014-04-29 09:05] samreid opened #17 "Allocations in Bounds2"
In Bounds2 there is this code:

[code]

This is allocating Vector2 twice (at least) per frame in Energy Skate Park: Basics, where garbage collections should be minimized to keep the animation smooth.  Can this Vector2 avoid pooling?  For example, it could use a class-local variable, or use pooling.  Or could use component-wise math.

[2014-04-29 18:27] #17 closed, assigned to nobody

[2014-04-29 20:26] samreid opened #18 "Remove FastMatrix3 and improve pooling for Matrix3"
FastMatrix3 is making it difficult to do pooling for Matrix3.  We should remove FastMatrix3, and make pooling more pervasive for Matrix3.

[2014-06-27 01:07] pixelzoom opened #19 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-08-18 17:37] pixelzoom opened #20 "address concerns about possible floating point error in isInteger"
@samreid brought up concerns about isInteger in phetsims/graphing-lines#11 and https://github.com/phetsims/phetcommon/issues/19.  It's a general issue with dot, so creating this issue.

The original implementation was:

After discussion, it was changed to this implementation, as identified in Stackoverflow:

[2014-08-18 19:45] #20 closed, assigned to samreid

[2015-01-06 20:57] pixelzoom opened #21 "incorrect LICENSE file?"
package.json shows that dot is MIT license, but the LICENSE file does not show an MIT license.

[2015-01-06 21:09] #21 closed

[2015-01-07 23:37] jonathanolson opened #22 "Remove production-config"
See details in https://github.com/phetsims/scenery/issues/344 and its changeset.

[2015-02-05 18:56] #22 closed

[2015-02-18 01:55] bereaphysics opened #23 "A suggestion to reduce the number of vector allocations in getRotation of Matrix3.js"
While looking up the source of allocations in charges and fields, a sizable number of them are involved in the rotation of the node (using setRotation (which itself invoke getRotation)).

In any case, if you carry out the math explicitly, you find that getRotation in Matrix3.js

[code]

can be replaced by

[code]

[2015-02-18 02:31] jonathanolson commented on #23
Ah yes, ```M * v( 1, 0, 1 ) - M * v( 0, 0, 1 )``` (homogeneous vectors) distributes to ```M * v( 1, 0, 0 )```. Thanks for catching that!

I'll make the fix shortly, and it should free up a lot of those vector allocations you were seeing.

[2015-02-18 02:34] jonathanolson commented on #23
Fixed in 32a2f0072ffaac161e5071290f1658235638b9bf, forgot to tag it.

Thanks!

[2015-02-18 02:34] #23 closed

[2015-03-26 00:21] bereaphysics opened #24 "Simplification for intersectsBounds method in Bounds2"
There is a TODO in intersectsBounds

[code]
This following logic will do the trick

[code]

Assigning to @jonathanolson since he is the author of Bounds2

[2015-03-26 05:12] jonathanolson commented on #24
This simplification seems incorrect, is there a particular advantage to it? Test case:
[code]

Right now, a Bounds2 is empty iff ```width < 0 || height < 0```. Notably, Bounds2 is currently set up so that a union of a non-empty A and an empty B will not be empty, and an intersection with a non-empty A with an empty B will always be empty. This lets us handle the logical "empty set" bounds with any

[2015-03-26 21:32] bereaphysics commented on #24
Yes, mostly the issue was mostly the Bounds allocation. I walked through the logic of your proposal. That is sound to me.

[2015-03-31 20:51] pixelzoom opened #25 "branch: bounds2-vector-components"
Please describe.

[2015-04-01 00:48] jonathanolson commented on #25
I'm not familiar with it, @samreid had the last commit (assigning).

[2015-04-01 04:58] samreid commented on #25
Looks like attempted micro-optimizations to save on GC.  I deleted it.

[2015-04-01 04:58] #25 closed

[2015-05-04 23:13] pixelzoom opened #26 "Bounds2: cannot read property 'x' of null"
I've been seeing this error for about a week in Chrome Version 42.0.2311.135 (64-bit) on Mac OS 10.10.2 and 10.10.3.  I have not been actively testing with other browsers, so don't know if it's specific to Chrome. I was ignoring it for awhile, but figured that I should report it.

Here's what appears in the console:

![screenshot_19](https://cloud.githubusercontent.com/assets/3046552/7464495/ae7e8

[2015-05-04 23:16] pixelzoom commented on #26
I've seen this in multiple sims, running out of master.  hookes-law, beers-law-lab, blackbody-spectrum, scenery-phet demo, ...

[2015-05-04 23:45] jonathanolson commented on #26
So far unable to reproduce after ~10min. Would add the following code before the erroring line, since it looks like something is passing null into something expecting Vector2:
[code]

Then reproduce and check the stack trace, and determine why null is being passed in.

[2015-05-05 00:35] pixelzoom commented on #26
Added debugger breakpoint to Vector2.constains point.

Steps to reproduce:
1. Start some sim (any one will do)
2. Start another application (I used Skype), move it to the foreground
3. Put your mouse over the browser window, and make a scrolling action (e.g. drag on a trackpad, or drag on a Magic mouse).

Here's the call stack.

![screenshot_21](https://cloud.githubusercontent.com/assets/3046552/7

[2015-05-05 00:59] jonathanolson commented on #26
Can you pull Scenery and verify if this fixed all of your issues? It fixed the one I could reproduce following your instructions.

[2015-05-05 01:10] pixelzoom commented on #26
Seems to be fixed, thanks. I'll close this issue, reopen if I encounter another scenario where it occurs.

[2015-05-05 01:17] pixelzoom commented on #26
Reopening. I just realized that this affects published sims.  And since it requires a restart of the sim, we should probably evaluate how many sims are affected. I tested Molecules and Light 1.01, since it was most recently published, and it exhibits this issue.  I tested Acid-Base Solutions 1.1.0, and it does not exhibit this issue.

@jonathanolson was this problem recently introduced in scenery?

[2015-05-05 02:35] jonathanolson commented on #26
Presumably broken on Feb 11th (https://github.com/phetsims/scenery/commit/da2af35c358c9809a840377dc77f4a328ba0f376).

Shouldn't this only be a problem in the console? Or does it affect the behavior of the sim (even with console closed)?

[2015-05-07 17:02] pixelzoom commented on #26
The continuous console output seems to affect performance of the sim on desktop (Mac + Chrome). I would expect it to be even worse on iPad.

[2015-05-07 17:03] pixelzoom commented on #26
... but that is with the console open. I haven't checked performance with the console closed.

[2015-05-07 17:05] jonathanolson commented on #26
Can't generate a mouse-wheel event on the iPad though. Can you try testing with the console closed on desktop?

[2015-05-07 22:36] bereaphysics opened #27 "Proposal for an alternative method to rounding number"
For numerical readout and numbers that shows up in panels,  space is often at a premium and the dynamical range of the numbers to be displayed can be very large. Without resorting to scientific notation, it is difficult to display large number with a fixed number of decimal places. The proposal is to have method that lives in DOT/Util that  would be able to round the numbers with a maximum number

[2015-05-08 19:59] pixelzoom commented on #4
I'm pretty sure that this will never happen now, due to how painful the refactor would be.

[2015-05-08 20:01] pixelzoom commented on #9
Looks like this was done >1.5 years ago, but no request was made to review. Since it hasn't resulted in problems, I'll close this issue.

[2015-05-08 20:01] #9 closed

[2015-05-08 20:01] #13 closed

[2015-05-08 21:13] pixelzoom commented on #26
I tested the published version of Molecules and Light, http://phet.colorado.edu/sims/html/molecules-and-light/latest/molecules-and-light_en.html.  Once this error occurs, the sim is totally unresponsive, with and without the console open.

[2015-05-08 21:14] pixelzoom commented on #26
@ariel-phet This issue should be factored into the upcoming redeploy of sims. And sim that was published between 2/11/15 and 5/4/15 has this problem.

[2015-05-10 20:01] bereaphysics opened #28 "Proposal to add constrainLocation to Vector2"
The proposal is to add the following method to Vector2.

[code]
It is used in MovableDragHandler to constrain the location to some dragBounds.

For a usercreatorNode where one cannot use the MovableDragHandler, then we must resort to use a SimpleDragHandler. However the SimpleDragHandler doesnt have the options of dragBounds and one is forced to copy past that method every time as seen here https:

[2015-05-10 20:03] bereaphysics commented on #28
Alternatively we could incorporate this method within SimpleDragHandler since all theses instances make use of it for some dragBounds in the simpleDragHandler

[2015-05-10 23:20] samreid commented on #28
I'm not sure of the best place to put this method (it may well be in SimpleDragHandler or Bounds2), but if we *do* end up adding it to Vector2, then I would want to choose names that make it clear whether it is creating a new vector or mutating an existing vector, and to create methods for both, with the creation variant calling the mutator variant.

[2015-05-11 00:35] pixelzoom commented on #28
Vector2 is used for both vectors and locations.  I'm not convinced that this belongs in Vector2.

[2015-05-11 03:30] jonathanolson commented on #28
Sounds similar to bounds2.minimumDistanceToPointSquared(), how about ```bounds2.closestPointTo( point )``` in Bounds2?

[2015-05-12 04:30] jonathanolson commented on #26
I'm assigned, what task is left for this specific issue?

[2015-05-12 04:35] jonathanolson commented on #4
I might try to do one function moved out a week, that probably wouldn't be too bad.

[2015-05-12 05:05] jonathanolson commented on #27
Looks great, do you want to add it to dot.Util? In a separate issue, we've discussed putting standalone functions in their own files for easier imports, any opinion on that?

[2015-05-12 13:20] pixelzoom commented on #26
I think the only thing left is to factor this into planning for sim redeployment. So I'll reassign this to @ariel-phet.

[2015-05-21 17:44] pixelzoom commented on #26
Sounds like the plan is for all "Summer 2015" redeploys to use master common-code, so this fix will be picked up by all sims.  Closing.

[2015-05-21 17:44] #26 closed

[2015-05-22 20:14] aaronsamuel137 commented on #28
We've decided to add closestPointTo to Bounds2 and not constrainLocation to Vector2. See https://github.com/phetsims/charges-and-fields/issues/39. Closing

[2015-05-22 20:14] #28 closed

[2015-06-15 17:48] pixelzoom opened #29 "dot contains code that is "based on Jama""
There are several files in dot that contain this documentation:

Can you elaborate on "based on"?  Are there any 3rd-party licensing issues here?

[2015-06-15 17:51] jonathanolson commented on #29
I'd consider that dot code a derived work of Jama (as noted in emails as to what derived works we used), so it should be listed however that needs to be (sounds like it should be in the JSON).

[2015-06-15 17:53] pixelzoom commented on #29
If it's a derived work, then you'll need to add an entry in sherpa/third-party-licenses.json.  And since dot is specified as a preload in chipper/build.json, you'll need to add the Jama entry to "licenseKeys" in build.json.

[2015-06-15 17:55] pixelzoom commented on #29
@jonathanolson wrote:

I'm not familiar with these emails. If there are other derived works that are missing from third-party-licenses.json, please add them too.

[2015-06-15 17:57] jonathanolson commented on #29
Liberation Sans was also noted, but is already in the licensing info. I'll take care of adding the references.

[2015-06-15 18:04] jonathanolson commented on #29
I presume I'll need the Jama version it's derived from?

[2015-06-15 18:24] pixelzoom opened #30 "algorithm for Util.lineSegmentIntersection"
In Util.js:

[code]

The URL is broken, so difficult to determin what "takes from" (sic) means.  Assigning to @jonathanolson to evaluate whether there's a third-party licensing issue here.

[2015-06-15 18:30] pixelzoom commented on #29
Yes.

[2015-06-15 19:15] jonathanolson commented on #30
@samreid, do you recall the "upgrade piccolo incident"? MathUtil.java was 'created' in that commit, noting "un-deleted all files that were lost in the 'upgrade piccolo incident'".

I can't find history or commit messages for when it was truly added before, but that code's at least 10 years old.

[2015-06-15 19:40] jonathanolson commented on #29
License URL for Jama, when it's just on the main page noted as public domain? (http://math.nist.gov/javanumerics/jama/)

Just put that url as both project/license URL?

Also, since it is not used for most simulations (and probably stripped out with require.js, but I'd need to double-check), should it be in the build.json or package.json for sims that use those parts? Probably easier to use build.j

[2015-06-15 19:45] pixelzoom commented on #29
licenseURL is optional, used when a project has a dedicated license page.  So you can just use the "projectURL", "license" and "notes" fields. Fields are documented in the header of setThirdPartyLicenses.js.

I would put it in build.json, rather than trying to keep track of which pieces of dot a sim uses, or may call indirectly without knowing it.

[2015-06-15 19:56] jonathanolson commented on #29
Added, let me know if there's anything else to be done.

[2015-06-15 19:58] pixelzoom commented on #29
The "text" field needs to mention the library name and what it's general purpose. Remember, this will be massaged into a human-readable format that KP will be providing to other people.

[2015-06-15 19:59] pixelzoom commented on #29
I'll take a stab at it...

[2015-06-15 20:01] pixelzoom commented on #29
Modified "text" field in https://github.com/phetsims/sherpa/commit/5d65f3b8808b16aa2d7a8314f87225d316685cd2. @jonathanolson if that looks good, feel free to close.

[2015-06-15 20:01] jonathanolson commented on #29
I thought it needed to be the license text, sorry.

[2015-06-15 20:02] jonathanolson commented on #29
Looks great, thanks.

[2015-06-15 20:02] #29 closed

[2015-06-15 20:03] pixelzoom commented on #29
I removed the long copyright string too, no need to reproduce it when it's on the website.

[2015-06-15 21:07] samreid commented on #30
Here's a Bourke reference:
http://paulbourke.net/geometry/pointlineplane/pdb.c
parent page is:
http://paulbourke.net/geometry/pointlineplane/

[2015-06-15 21:23] samreid commented on #30
The "undeleted all files" commit is from Nov 2005, svn revision 5790.  Hunting around online, I found the path for svn revision 5000 to be right here:
https://phet.unfuddle.com/a#/projects/9404/repositories/23262/file?path=%2Ftrunk%2Fphetcommon%2Fsrc%2Fedu%2Fcolorado%2Fphet%2Fcommon%2Fmath%2FMathUtil.java&commit=5000

that is, svn/5000/trunk/phetcommon/src/edu/colorado/phet/common/math/MathUtil.ja

[2015-06-15 21:24] samreid commented on #30
@jonathanolson and @pixelzoom is this enough to go on? Should we add it to an upcoming meeting agenda?

[2015-06-15 21:29] pixelzoom commented on #30
I'm not familiar with the algorithm or whether there's a licensing issue here, I only stumbled upon it.  So I'm the wrong person to ask.

[2015-06-15 22:26] samreid commented on #30
I see several algorithms in this file that look like we did not write them ourselves.  Would be good to identify them.  I'll create a separate issue for that (this can be a sub-issue).

[2015-06-15 22:30] samreid opened #31 "Licensing for Util.js"
There are several algorithms that could be considered "derived works" from algorithms in MathUtil.java.  One was identified in #30.  A full list of likely candidates is here:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

The intersections may all be from Bourke.

[2015-06-15 22:30] samreid commented on #31
Putting this on @ariel-phet radar since it may be a part of "derived works" we need to report to 3rd parties.  @ariel-phet can you read through what's here, prioritize and assign?

[2015-06-15 22:31] samreid commented on #30
I noted this and other potential issues in #31

[2015-06-16 16:59] ariel-phet commented on #31
@samreid - I think if an entire library has some derived works, we can make a blanket statement about that library, such as "the library XXXX.js contains derived works that are covered under the following open source licenses XXX, XXX, XXX". Can you email me such a statement for our math library?

[2015-06-16 17:56] samreid opened #32 "line line intersection doesn't handle parallel lines"
While I was looking at the source for #31 I realized that line line intersection doesn't handle parallel lines.  @jonathanolson I only see this used in Kite.  Do we need to handle parallel lines?  Why or why not?

[2015-06-16 17:58] samreid commented on #32
Or perhaps the intersection would be (NaN,NaN)??

[2015-06-16 17:59] samreid opened #33 "sphereRayIntersection appears unused, can we delete it?"
sphereRayIntersection appears unused, can we delete it?

[2015-06-16 18:00] samreid opened #34 "Is solveQuadraticRootsReal a derived work?"
It looks like @jonathanolson created and updated solveQuadraticRootsReal but I cannot tell whether it is a derived work or a novel implementation.  @jonathanolson can you comment here and in #31 ?

[2015-06-16 18:10] samreid commented on #31
@jonathanolson I cannot tell which algorithm is being implemented in solveCubicRootsReal, can you take a look? https://en.wikipedia.org/wiki/Cubic_function#Roots_of_a_cubic_function

[2015-06-16 19:08] samreid commented on #31
distToSegmentSquared seems simple enough that no licensing/attribution is necessary.

[2015-06-16 19:10] samreid commented on #33
Related to #31

[2015-06-16 19:18] samreid commented on #31
I've gone through the methods and added attributions where I could find them.  What we have currently is:

lineLineIntersection very similar to http://stackoverflow.com/questions/385305/efficient-maths-algorithm-to-calculate-intersections but also not too complicated:

[code]

sphereRayIntersection appears unused and I asked if it could be deleted in #33

solveQuadraticRootsReal looks modified (or

[2015-06-18 19:35] pixelzoom opened #35 "fix nearest-neighbor rounding in Util.toFixed"
Behavior of Math.round (and therefore dot.Util.toFixed) is currently:

Math.round(1.5) -> 2, Math.round(-1.5) -> -1.

This is not desirable for PhET sims.  The desired behavior is one that treats positive and negative values symmetrically. Take care of this in dot.Util.toFixed.

[2015-06-19 17:17] pixelzoom commented on #35
The desired behavior (which I've implemented in Util.toFixed) is IEEE 754 "Round half away from zero" algorithm, see https://en.wikipedia.org/wiki/Rounding#Round_half_away_from_zero. It treats positive and negative values symmetrically.

It occurred to me that it would be nice to have  a round function that behaves this way, and could be used by Util.toFixed.

[2015-06-19 17:40] pixelzoom commented on #35
Work completed.  I added Util.roundSymmetric, and used it in Util.toFixed.  I added documentation about the problem with Math.round, and references to the relevant IEEE 754 specs.

Assigning to @jonathanolson to review.

[2015-06-19 17:52] pixelzoom commented on #35
Summary for developers, which I will also send in an email and Skype:

JavaScript’s Math.round uses “round half up”, which does not treat positive and negative numbers symmetrically. For example:

2

-1

That behavior is problematic for PhET sims, where we want to treat positive and negative numbers symmetrically.

I’ve added dot.Util.roundSymmetric, which treats positive and negative numbers symm

[2015-06-19 18:01] pixelzoom commented on #35
Re:

I've added this section to the Code Review Checklist (https://github.com/phetsims/phet-info/blob/master/code_review_checklist.md):

**Common Errors**

- [ ] Is `Math.random` used where `dot.Util.randomSymmetric` should be used?  Math.random does not treat positive and negative numbers symmetrically, see https://github.com/phetsims/dot/issues/35#issuecomment-113587879
- [ ] Is `toFixed` used w

[2015-06-19 18:06] pixelzoom commented on #35
Re:

Addressing in https://github.com/phetsims/tasks/issues/275.

[2015-06-19 21:28] jonathanolson commented on #35
Looks good to me.

The only case where it really otherwise deviates seems to be -0:
[code]

Feel free to close if it was just pending on review.

[2015-06-22 17:47] pixelzoom commented on #35
@jonathanolson I purposely did not round -0 to -0 because generally we don't want to display -0 in sims.  Do you disagree? Is the issue only with -0, or do you think that -1.2 should be rounded to -0?

[2015-06-22 17:49] jonathanolson commented on #35
Sounds fine to me, just wanted to note it.

[2015-06-22 17:50] pixelzoom commented on #35
I'll note the -0 behavior in the documentation.

[2015-06-22 17:53] pixelzoom commented on #35
https://github.com/phetsims/dot/commit/65da3f573d6d13ae776d93aed25eed022079f33d

Closing.

[2015-06-22 17:53] #35 closed

[2015-06-25 14:58] pixelzoom opened #36 "replace toFixed with dot.Util.toFixed?"
dot uses JavaScript's built-in toFixed in Matrix3 and Matrix4. toFixed is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Should we be using dot.Util.toFixed instead?

[2015-06-25 16:42] jonathanolson commented on #36
Same exact reasoning as https://github.com/phetsims/kite/issues/50, I'll add equivalent documentation.

[2015-06-26 09:47] AshrafSharf opened #37 "Dimension2 setHeight sets the width instead of height"
[code]

[2015-06-30 18:38] #36 closed

[2015-07-02 16:07] #37 closed

[2015-08-31 19:20] pixelzoom opened #38 "add visibility annotations"
Add a @public, @protected or @private annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-09-11 06:43] samreid opened #39 "Improvements for Ray2"
@jonathanolson suggested that I look into using Ray2 for some math in bending light.  It is looking good but I have some questions about Ray2:

First, why does it store the direction as a 2d vector instead of an angle?  It only has 3 degrees of freedom, so why store 4 values and require that the 4th value not be independent (in an assertion check?)

Second: the fields are called `pos` and `dir`.

[2015-09-11 16:51] pixelzoom commented on #39
+1 for using full names (position and direction).

[2015-09-11 22:16] jonathanolson commented on #39
I've found that using the unit vector for direction is generally much easier. A common case is stepping a ray forward by a fixed amount (position + multiplier * direction), which would be (position + trig expression). Also most intersection routines for rays involve the unit vector for direction more often than any sort of "angle" is used.

Sounds great to me, it was mostly a hold-over from other

[2015-09-15 04:54] jonathanolson commented on #39
Anything left to do here, and can you review my changes?

[2015-09-15 18:29] samreid commented on #39
The changes above look good.  Shall we do the same thing for Ray3?

[2015-09-15 18:30] samreid commented on #39
Also, the other thing I would suggest is running the sim tests to see if we missed anything.  @jonathanolson do you have time to start that up or should I?

[2015-09-17 15:43] jonathanolson commented on #39
Sounds good to both test and handle Ray3. I'll be able to take care of that at home.

[2015-09-22 19:53] jonathanolson opened #40 "Consider moving Molecule Shapes FastMath to Dot"
It includes heavily optimized 3x3 matrix computations, of which the most specific to the sim is the 3x3 Singular Value Decomposition.

[2015-09-22 19:53] jonathanolson commented on #40
Added developer-meeting label to discuss whether this code would be good to move to common code.

[2015-09-23 01:59] samreid opened #41 "ObservableBounds2 is unused, can it be deleted?"
I recommend to delete, what do you think @jonathanolson?

[2015-09-23 02:00] samreid commented on #41
Same question for ObservableMatrix3.

[2015-09-23 02:01] samreid commented on #41
ObservableVector2 only used in Travoltage.

[2015-09-24 15:57] jonathanolson commented on #41
I'm fine with deleting ObservableBounds2 and ObservableMatrix3. Any objections, or should I remove them?

[2015-09-24 18:15] pixelzoom commented on #41
I've never used them, no objection to deleting.

[2015-09-24 21:46] jonathanolson commented on #41
Removed them, particularly because ObservableMatrix3 was for some reason causing unit test errors.

[2015-09-24 21:46] #41 closed

[2015-09-29 17:04] pixelzoom commented on #40
9/29/15 dev meeting notes:
• @jonathanolson says this is 10x faster than numeric.js.
• Q: @samreid where else used? A: @jonathanolson inside a loop.
• relies on Float64Array, so not as general as what's currently in dot (row-major order is also different than Matrix3)
• move to dot now or when another sim needs it? @jonathanolson would like to move it now. Other developers ok with that.
• @jonatha

[2015-10-06 15:30] jonathanolson commented on #39
Done, tested usages of Ray3.

[2015-10-06 15:30] #39 closed

[2015-10-06 15:41] jonathanolson commented on #40
Done with the name 'MatrixOps3', but still open for renaming if others have better ideas.

[2015-10-06 15:41] #40 closed

[2015-10-06 17:37] jonathanolson opened #42 "Change namespace to Namespace"
Move vector creation to e.g. dot.v2( 2, 3 ), as it avoids the special case.

[2015-10-17 16:10] samreid opened #43 "Matrix.QRDecomposition.solve is returning NaN"
I'm running unit tests for CCK as part of its matrix solve step.  For the same inputs, Jama is giving result matrix

[code]

and dot is giving
[code]

I have tracked the problem down to the matrix constructor call at the end of the QR solve method.  Dot currently has:

[code]

But it looks like this constructor is not supported at the moment.  Changing the constructor call to:

[code]

Seems to so

[2015-10-17 16:13] samreid commented on #43
I committed the proposed fix above, but it should still be discussed with @jonathanolson.  @jbphet may also need to be aware of it depending on how he plans to deploy the next batch of RC test sims.

[2015-10-18 02:04] jonathanolson commented on #43
Shouldn't affect anything I'm aware of. Is @jbphet using this?

[2015-10-19 17:05] jbphet commented on #43
I'm not using Matrix.QRDecomposition.solve directly in any simulation code.  I think @samreid may have brought me into this discussion because he knows that I have several simulations that are poised for re-release and wants to make sure that I'd be working from a stable base.  However, my current plan is to use the SHA with which Molarity was recently published, so I think this is a non-issue for

[2015-10-19 17:06] samreid commented on #43
Sounds great, thanks, closing.

[2015-10-19 17:06] #43 closed

[2015-10-22 20:12] samreid opened #44 "Rectangle Layout"
@jonathanolson suggested putting the core of the rectangle layout engine here in dot.  See https://github.com/phetsims/bending-light/issues/265

@jonathanolson or @samreid can work on it at their leisure.

[2015-10-23 18:02] samreid commented on #44
It seems like what we really want is a language for describing the a dynamic flexible layout of the entire simulation.  This seems a daunting task!  I haven't really been satisfied with the Java layout containers.  Maybe a simple rule that still gives us complete flexibility is to treat every layout-able object as having a Property<Bounds2>, then writing rules for aligning objects relative to othe

[2015-10-27 18:33] jonathanolson commented on #34
Novel implementation, just the quadratic formula with a near-zero test.

[2015-10-27 18:33] #34 closed

[2015-10-27 18:33] jonathanolson commented on #31
solveQuadraticRootsReal is a novel implementation.

[2015-10-27 18:37] jonathanolson commented on #33
Seems useful for 3D atom views (was used in Molecule Shapes, may be used in Build a Molecule after changes). I'd prefer to keep it. It's code I've written from scratch (for licensing)

[2015-10-27 18:37] jonathanolson commented on #31
sphereRayIntersection I'd like to keep, and is from scratch. Useful for the future.

[2015-10-27 18:44] jonathanolson commented on #31
solveCubicRootsReal implementation seems similar to https://www.easycalculation.com/algebra/cubic-equation.php, but with a number of differences (I've forgotten the method used to implement it).

It wouldn't take too long to implement one of the options on Wikipedia, let me know if I should do so (I'd probably also have more confidence in it if re-implemented).

[2015-10-27 18:49] jonathanolson commented on #31
lineSegmentIntersection - I can reimplement from scratch if desired. http://jeffe.cs.illinois.edu/teaching/373/notes/x06-sweepline.pdf notes a general way of doing this, where if each segment's end-points are on opposite sides of the other segment's line (or if one is touching), then we have an intersection (which is where the two lines would intersect - e.g. lineLineIntersection()). No strong pre

[2015-10-27 18:50] jonathanolson commented on #31
distToSegmentSquared seems fairly trivial to implement from scratch also.

[2015-10-27 18:52] jonathanolson commented on #31
Assigning to @ariel-phet for recommendations. Let me know what type of code is OK, and what type of code I should reimplement.

Note that reimplementation isn't necessarily bad, as it may improve handling for degenerate cases and/or garbage collection.

[2015-10-27 18:55] jonathanolson commented on #32
Line-line intersections in general are either no points, one point, or infinite points (overlapping). Since the client is expecting a Vector2 (indicating a successful result), would we return null if there are either no intersections or infinitely many?

We'd want to threshold this (approximately collinear lines), and also handle cases where p1=p2 or p3=p4 presumably (where they don't properly def

[2015-10-27 18:58] samreid commented on #32
How about returning Vector2(number,number) for successful single point intersection, and null for both cases of no intersection and infinitely many intersections.  If the client wants to handle that, they can delve further and determine which case they are in.

[2015-10-27 18:59] ariel-phet commented on #31
@jonathanolson a bit of a judgement call on your part...certainly if you have a hunch that it could help garbage collection it seems worth re-implementing. If a license it unavailable and we would need to request one, I would say see if it would be reasonable to rewrite from scratch.

[2015-10-27 19:00] jonathanolson commented on #32
Sounds great. Self-assigning for implementation.

[2015-10-28 15:52] samreid commented on #33
My tendency is to delete unused code and resurrect it if/when needed, still I do not know the plans for Build a Molecule and this function doesn't seem like it is doing much harm, so I'm OK to leave it.  Closing.

[2015-10-28 15:52] #33 closed

[2015-11-09 22:05] #42 closed

[2016-02-29 16:45] pixelzoom commented on #7
@ariel-phet This is a nontrivial project. Please clarify why this was assigned to me, what the priority is, etc.

[2016-02-29 16:48] samreid commented on #7
PhET-iO got reproducible (same seed) random number sequences in this issue https://github.com/phetsims/phet-io/issues/274

[2016-02-29 17:01] ariel-phet commented on #7
@pixelzoom sorry, I thought I had commented on the issue but does not look like it took...

I was going through triaging issues and this was marked as high priority by you, but the issue is 3 years old...curious if it was still a priority, or if it should be addressed, brought up at developer meeting, etc. Just looking for a comment, no work.

[2016-02-29 17:02] ariel-phet commented on #7
@samreid does this mean this issue is solved?

[2016-02-29 17:04] samreid commented on #7
I don't recall the implementation details, but I'll assign to myself to investigate.

[2016-02-29 19:29] jonathanolson opened #45 "Dot has two "high" priorities, and no medium priorities"
One "high" priority has a space, one does not.

[2016-02-29 19:46] ariel-phet commented on #45
not quite sure how that happened, I may have made a mistake in de-duplication, will fix

[2016-02-29 19:47] ariel-phet commented on #45
Should be fixed now, closing

[2016-02-29 19:47] #45 closed

[2016-02-29 20:57] jonathanolson commented on #12
Current solution working well.

[2016-02-29 20:57] #12 closed

[2016-03-01 16:22] samreid commented on #7
I recommend developers to skim dot/js/Random.js and we'll discuss at developer meeting if there is anything else to do here.

[2016-03-01 17:17] samreid opened #46 "Double check that seedrandom isn't replacing Math.random"

[2016-03-01 17:30] jonathanolson commented on #7
Self-assigning for fleshing out Random.

[2016-04-06 12:47] samreid commented on #4
I can't see where in this issue thread it became high priority.  Also, the last discussion is nearly a year old.  I'm going to demote priority.  If @jonathanolson or anyone else wants to self assign or change priority, go for it!

[2016-04-20 20:37] samreid commented on #46
I tested this by running build-an-atom, which uses seedrandom.  Using this code before any script runs:

[code]

Then in the console after startup:
![image](https://cloud.githubusercontent.com/assets/679486/14689621/616fee6a-0705-11e6-8a7d-5b60593aecae.png)

This shows that Math is augmented with a seedrandom instance, but Math.random is unperturbed.

[2016-04-20 20:37] #46 closed

[2016-04-26 03:20] samreid opened #47 "branch: circuit-construction-kit-basics-matrices"
For investigation of https://github.com/phetsims/circuit-construction-kit-basics/issues/78

[2016-04-26 03:44] samreid commented on #47
I discussed this with @jonathanolson and we decided to use Float64Array || Array in all of the decompositions and in Matrix.  We tested that Molecule Shapes still worked properly after these changes.  I'll commit to the branch shortly, then merge branch to master and delete branch shortly.

[2016-04-26 03:46] samreid commented on #47
Fixed above and merged to master, branch deleted, closing.

[2016-04-26 03:46] #47 closed

[2016-06-09 18:27] jonathanolson commented on #32
Dot's lineLineIntersection (in Util.js) should detect if the lines are approximately parallel (to within an epsilon), and if so return null instead of a Vector2. Documentation should also be updated.

[2016-06-09 18:28] samreid opened #48 "Random shouldn't need Tandem"

[2016-06-09 20:33] samreid commented on #48
Like this

    // The tandem is required when brand==='phet-io'
    // Like Tandem.validateOptions, but without depending on tandem
    phet && phet.chipper && phet.chipper.brand && phet.chipper.brand === 'phet-io' && assert && assert( options.tandem,
      'When running as PhET-iO, a tandem must be specified for each user interface component' );

[2016-06-13 08:15] samreid commented on #48
Fixed as described in the preceding comment, 1420/1420 unit tests passing, closing.

[2016-06-13 08:15] #48 closed

[2016-06-16 21:09] samreid opened #49 "Add JSDoc for all methods"
At today's developer meeting, we agreed it would be nice to have complete and correct JSDoc for all methods.  @phetsims/martin volunteered to help out.

To discover the types for `@param` you may wish to put debugger statements and examine runtime types.

To discover whether each method is `@public` or `@private` you may wish to search for usages, examine context, or use debugger statements or use

[2016-06-17 12:36] veillette opened #50 "Math.cosh and Math.sinh appears in complex.js"
As part of the code review (see #49). There are four instances of Math.cosh and Math.sinh in Complex.js.

Math.sinh and Math.cosh are not part of the ecmascript 5 standard.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/cosh

![image](https://cloud.githubusercontent.com/assets/7633344/16150520/afc04b90-3465-11e6-8a45-1db2bd097691.png)

According to the info

[2016-06-17 12:47] veillette opened #51 "Unreachable code line in normalize method of Vector4.js"
As part of the work for DOT (see #49), I noticed this in Vector4.js,
[code]

[2016-06-17 14:41] samreid commented on #50
I recommend to add methods to dot/js/Util.js for cosh and sinh, and use those instead of Math.cosh and Math.sinh.

[2016-06-17 14:45] samreid commented on #51
I recommend to write it like so:

[code]

If this seems good to you, go for it @phetsims/martin!

[2016-06-17 14:50] samreid commented on #51
Also, @veillette, I want to make sure you are aware that dot has 1420 unit tests--may be useful as you work on dot.

http://localhost/dot/tests/qunit/unit-tests.html

[2016-06-18 01:02] veillette commented on #49
List of files to review.

- [ ] BinPacker.js
- [ ] Bounds2.js
- [ ] Bounds3.js
- [ ] Complex.js
- [ ] config.js
- [ ] ConvexHull2.js
- [ ] Dimension2.js
- [ ] dot.js
- [ ] EigenvalueDecomposition.js
- [ ] LinearFunction.js
- [ ] LUDecomposition.js
- [ ] main.js
- [ ] Matrix.js
- [ ] Matrix3.js
- [ ] Matrix4.js
- [ ] MatrixOps3.js
- [ ] Permutation.js
- [ ] Plane3.js
- [ ] QRDecomposition.js
- [ ]

[2016-06-20 14:46] pixelzoom opened #52 "bring documentation up to PhET standards"
6/16/16 dev meeting: Decided to create this issue, as a first step towards improving knowledge sharing.

[2016-06-20 18:08] ariel-phet commented on #52
@veillette and his team have been working on this issue. Assigning to him to comment as necessary, and reference this issue for any review issues that need to be created

[2016-06-20 18:09] ariel-phet commented on #52
@veillette please assign back to me when work is complete or your summer work is over (which ever comes first!)

[2016-06-20 21:21] andrea-phet commented on #32
The above commit returns null if the lines are parallel to within 1e-5 or if the p1=p2 or p3=p4. @jonathanolson let me know if anything needs to be changed.

[2016-06-20 21:36] andrea-phet commented on #32
Some lines that are not parallel were treated as so because the denominator is negative. I fixed it in the above commit.

[2016-06-20 22:11] ariel-phet commented on #32
Since @jonathanolson is on leave, assigning to @veillette if he or his team has time to take a look

[2016-06-20 23:47] samreid commented on #32
@andrea-phet can you please add unit tests for these new situations in the file:
dot/tests/qunit/js/simple-tests.js

The unit tests should be seen when launching http://localhost/dot/tests/qunit/unit-tests.html

And please remove console.log from Util.js

[2016-06-21 19:45] andrea-phet commented on #31
In the above commit, I rewrote the line segment intersection algorithm to use lineLineIntersection and a method I thought up of that checks that the intersection is on the segments. I also added unit tests and made the function available in the namespace.

[2016-06-21 19:51] ariel-phet commented on #31
assigning @veillette to take a look if he or his team has time (since @jonathanolson is on leave)

[2016-06-22 13:52] veillette commented on #50
added cosh and sinh in DOT/Util.js.
https://github.com/phetsims/dot/commit/1efed24bbfa72fbecaea06e853c6cf6ebaa6f106

[2016-06-22 13:53] veillette commented on #50
I added a unit test as well.

[2016-06-22 13:53] #50 closed

[2016-06-22 13:55] veillette commented on #51
The normalize function was written as suggested by samreid

[2016-06-22 13:55] #51 closed

[2016-06-22 13:57] veillette commented on #52
This issue is being tracked in #49

[2016-06-22 13:57] #52 closed

[2016-06-22 19:05] andrea-phet commented on #31
For distToSegment, the algorithm currently implemented in Util.js is similar to an answer on stack overflow, as well as an algorithm in Bourke's notes http://paulbourke.net/geometry/pointlineplane/.

Out of all the algorithms I came up with / found, I think this implementation would be best because it is concise and accurate, as long as there is no licensing problem. I'm not sure if it helps, but

[2016-06-22 20:25] veillette commented on #31
@andrea-phet , Thanks for your work on DOT.
I have a question on your novel algorithm.
Wouldn't your approach works as well if you set epsilon to zero?
[code]

[2016-06-22 20:34] andrea-phet commented on #31
Unfortunately, setting epsilon to zero doesn't work because `projection.x` is a has inaccuracies (I think it's due to Math.cos). I've seen cases where the projection point should be the same as an endpoint, but `( a.x - projection.x ) * ( b.x - projection.x ) = 1e-12` (a small positive number), which is greater than zero. I could set epsilon to a smaller number, like 1e-7 or something.

[2016-06-22 20:37] jonathanolson commented on #49
Seems like this represents an extension of the work for https://github.com/phetsims/dot/issues/38, should that be closed?

[2016-06-22 21:20] veillette commented on #49
This is an extension of #38. A lot of documentation was added for #38 but there are a few files that need more documentation. I should be able to figure out most of it by reading the code. If i'm unsure about a particular method, I'll create an issue and assign it to @jonathanolson .

[2016-06-23 13:09] veillette commented on #31
For your information, we use an epsilon mostly when we want to return a boolean value (false, true).

When returning a number, you should not need an epsilon value because, although there is an error in every mathematical operation with floating numbers, the error itself is small.

By the way, your novel algorithm works, it is mathematically robust as well but it makes use of a large number of vec

[2016-06-23 20:22] andrea-phet commented on #31
@veillette I agree.

[2016-06-28 22:42] jbphet opened #53 "something got broken, is causing charges to misbehave in John Travoltage"
I was doing some work on sonification using the John Travoltage simulation, and noticed that charges were leaking out the top of JT's head (see screenshot below).  This was not a problem in the previous (fairly recent) dev release.  After some investigation, it appears to be caused by something that has changed in the dot repository.  If I check out the version of dot used in the previous dev rele

[2016-06-29 00:59] veillette commented on #53
There is a subtle difference between dividedScalar instead of divideScalar.
dividedScalar returns a new Vector4 whereas divideScalar mutates the vector.

Before the fix, https://github.com/phetsims/dot/commit/6d72717f9398531e4c1c14ec2765e7a700b9a120, it used to retrun a new Vector4

[2016-06-29 01:01] veillette commented on #53
And I think I am the one who did the faulty commit.

[2016-06-29 01:04] samreid commented on #53
I doubt John Travoltage is using Vector4. @veillette please fix the issue you identified and I'll proceed to bisect to identify the John Travoltage problem.

[2016-06-29 01:11] andrea-phet commented on #53
If I checkout https://github.com/phetsims/dot/commit/eb73a3c4c4b8353eef56fdab30aadf04ea1fa069 the behavior is correct, but if I checkout the next commit, https://github.com/phetsims/dot/commit/eec2a2dc0f23af51e3d910b817dcfab2c963a18b, the broken behavior is seen. So I think something is happening in the new lineSegmentIntersection algorithm.

[2016-06-29 01:11] samreid commented on #53
dot 455447cedc0b42bc5c1bbb38b37b7c92cc7e9e8c is good
dot d578b9cbed558fcc502a59a3884bed3cf68505ca is bad
dot 6448a04cc1a1dfa782315d3ad3bafa1346ac2c4b is bad
dot eb73a3c4c4b8353eef56fdab30aadf04ea1fa069 is good
dot eec2a2dc0f23af51e3d910b817dcfab2c963a18b is bad, so this is the commit that introduced the issue.  Note: it is possible John Travoltage was relying on buggy dot behavior, but we should c

[2016-06-29 01:29] samreid commented on #53
I'll move @veillette's Vector4 comment to a new issue, since it seems irrelevant to this John Travoltage behavior.

[2016-06-29 01:30] samreid opened #54 "Return values from Vector4 may have been disturbed"
In #53 @veillette said:

There is a subtle difference between dividedScalar and divideScalar.
dividedScalar returns a new Vector4 whereas divideScalar mutates the vector.
Before the fix, 6d72717, it used to return a new Vector4
And I think I am the one who did the faulty commit.

[2016-06-29 01:33] samreid commented on #53
I see the following other sims that use lineSegmentIntersection:
* energy-skate-park-basics
* optics-lab
* sugar-and-salt-solutions

as well as StarShape, which is used in many games.

[2016-06-29 01:39] veillette commented on #54
This was addressed in https://github.com/phetsims/dot/commit/d2bc7ad84d37b5adcc50efd7879eecfaa616a205

[2016-06-29 01:41] veillette commented on #54
In addition, I checked that the normalized methods in Vector2, Vector3 were correct.

[2016-06-29 01:47] andrea-phet commented on #53
The above commit replaces 0 with epsilon when testing whether an intersection exists on the line segments. It fixes the problematic behavior in John Travoltage. If needed, however, it may be more robust to write an algorithm that doesn't use epsilon.

[2016-06-29 05:21] samreid commented on #53
Is John Travoltage relying on incorrect results to a segment-segment intersection, or perhaps needs a custom (segment-segment nearly intersect) algorithm?

[2016-06-29 15:37] andrea-phet commented on #53
@samreid I think there are incorrect results from the segment segment intersection. I tried using the previous algorithm taken from paul bourke, and that fixes the problematic behavior in John Travoltage, without having to check for "nearly intersection."

[2016-06-29 16:40] andrea-phet commented on #53
The current commit on master fixes the John Travoltage issue, assigning to @jbphet to test. I'll make a separate issue for this nearly intersection problem.

[2016-06-29 16:47] andrea-phet opened #55 "Implementation of lineSegmentIntersection may not be robust"
A problem occurred in one of the sims that was caused by the lineSegmentIntersection algorithm, noted in #53, so I used a small epsilon value instead of zero to check if the intersection exists. This fixes the problem, however, use of the epsilon value may not be a robust way to check for segment segment intersection. I could try to look for a new implementation of lineSegmentIntersection, or the

[2016-06-29 16:55] andrea-phet commented on #30
A problem occurred in one of the sims that was caused by the lineSegmentIntersection algorithm, noted in #53, so I used a small epsilon value instead of zero to check if the intersection exists. This fixes the problem, however, use of the epsilon value may not be a robust way to check for segment segment intersection. I will try to look for a new implementation of lineSegmentIntersection. Also, th

[2016-06-29 16:55] andrea-phet commented on #55
Moving this over to #30

[2016-06-29 16:55] #55 closed

[2016-06-29 18:21] veillette commented on #54
I found that Vector4 is not used in any of our sims.:(.
In any case, I'm glad we caught this bug. Closing

[2016-06-29 18:21] #54 closed

[2016-06-30 15:37] andrea-phet commented on #31
@veillette or @jonathanolson could you take a look at my algorithm for solveCubicRootsReal when you have time? I implemented it from wikipedia and have tested it with several cases.
[code]

My question is in what format the roots should be returned.

My algorithm right now returns all real roots, even if they occur more than once. For example, a triple root, e.g. x^3, is returned as `[ 0, 0, 0 ]`.

[2016-06-30 23:40] jbphet commented on #53
I verified that charges behave correctly in John Travoltage now, closing.

[2016-06-30 23:40] #53 closed

[2016-07-01 20:56] jonathanolson commented on #31
I'll definitely take a look, thanks! To me, it makes sense for all of the duplicate roots to be returned.

It looks like Kite's Cubic is not properly handling intersection when repeated roots are included (currently probably a bit buggy). Typically that would mean the intersection ray is tangent to the intersected shape, and for hit-testing a shape, another angle (that isn't perfectly tangent) sho

[2016-07-07 17:37] samreid opened #56 "What code is not covered by unit tests?"
The 1444 unit tests in dot are excellent, but it would be good to know exactly how much and what of the dot code is covered. Perhaps we could use an automated "code coverage" tool to identify what code is covered by the tests, or we could manually review it to discover it.  Ideally we would like to aim for 100% coverage eventually.

[2016-07-13 17:50] samreid opened #57 "Why do Ranges have default values?"
A range is a mathematical object of one of the following forms:
- The set of values for which a function is defined
- The difference between the maximum and minimum values (statistics)

Our range has a min, max and default value.  When @andrewadare and I were looking at reusing Range for specifying possible numeric values for PhET-iO, the "default value" sticks out like a sore thumb, and we are wo

[2016-07-14 18:24] samreid commented on #57
One possibility would be to factor out another class, say "PureRange.js" which just has min and max.

[2016-07-14 18:29] samreid commented on #57
Or Range.js has min and max, and RangeWithValue.js which extends Range.js and adds "value".

[2016-07-14 18:31] pixelzoom commented on #57
+1 for RangeWithValue extends Range.

[2016-07-14 18:32] andrewadare commented on #57
I will change Range to RangeWithValue, then go through and find all constructors taking only 2 args (min and max) and change those to Range. Following that sequence should be safe.

[2016-07-18 19:13] andrewadare commented on #57
To minimize disruption, RangeWithValue has replaced Range everywhere, even where only two parameters are passed in.

Moving forward, the plan should be to gradually replace the existing RangeWithValue instances with Range when it can be verified that no default value is being used.

As new code is written, the appropriate choice of Range vs. RangeWithValue should be made based on whether a default

[2016-07-25 17:02] andrewadare commented on #57
It's been a week with no fallout whatsoever, so this one appears safe to close.

[2016-07-25 17:05] samreid commented on #57
Do we have an issue for that?  Should we do it in a single pass?

[2016-07-25 17:14] andrewadare commented on #57
Replacing RangeWithValue with Range in one pass would be tricky, because the defaultValue can potentially be used in ways that are hard to catch programatically as @pixelzoom pointed out two weeks ago in our dev meeting.

The suggestion I mentioned above pertained to case-by-case replacements, preferably by people who are familiar enough with a particular sim to catch cases where the default value

[2016-07-25 17:16] samreid commented on #57
Thanks, I had forgotten that we cannot simply check the constructor arguments.  I'm ok with the prescribed plan.

[2016-08-18 23:58] pixelzoom opened #58 "problems with Random.randomIntegerBetween"
(1) Documentation

Random line 118:

[code]

Lots of questions here... Why does this mention underscore? Do you mean lodash?  And exactly which function are you matching?

I think what you probably mean is:

[code]

(2) Return type and function name

Note that lodash's `_.random` documentation (https://lodash.com/docs#random) says:

Whether intentional or not, this seems to be supported in the cur

[2016-08-19 00:01] pixelzoom commented on #58
Related to https://github.com/phetsims/phet-io/issues/551.

[2016-08-19 00:02] pixelzoom commented on #58
My recommendation would be to rename `randomIntegerBetween` to `nextBetween`.

[2016-08-19 00:03] pixelzoom commented on #58
There are currently 68 usages of `randomIntegerBetween`.

[2016-08-19 00:08] pixelzoom commented on #58
Of the 68 usages of `randomIntegerBetween`, I see only 3 (all in fraction-matcher) that are omitting the `min` arg.   And (imo) those should all be using `nextInt` instead.

E.g. LevelModel line 111:

[code]

... would be clearer as:

[code]

[2016-08-19 00:15] pixelzoom opened #59 "document Random.sample"
Currently:

[code]

If I'm new to this, then:

(1) I need to guess which lodash functionality this is interoperable with.  That may be simple, unless I've already had to deal with `randomIntegerBetween`, whose name has no correspondence to lodash `_.random`.  So why not just say "This is a replacement for lodash _.sample" ?

(2) Then I need to go find the documentation for lodash `sample`. That ma

[2016-08-19 01:55] samreid commented on #59
Random.sample should have proper documentation by now, @pixelzoom can you please review?

[2016-08-19 02:57] samreid commented on #58
In the above commits, I:

* Improved JSDoc for Random.randomIntegerBetween
* Rename Random.randomIntegerBetween to Random.nextBetween
* Enforce 2-args for Random.nextBetween

I haven't done this yet, instead I converted the 1-arg calls to use `nextBetween( 0, ...`.  After doing this, I see 9 cases that match this pattern, all of which are candidates for `nextInt()`.

I'm somewhat worried about thi

[2016-08-19 02:59] samreid commented on #58
WOW, this is exactly what lodash does:

![image](https://cloud.githubusercontent.com/assets/679486/17797496/8d974c56-6586-11e6-92f1-d3ccf00dca86.png)

This sounds like bugs waiting to happen.

[2016-08-19 04:34] samreid opened #60 "Random.nextGaussian should be seedable"
In order to support replicable playback for phet-io, we would like replicable random number support in Random.  Random.nextGaussian currently relies on Math.random, so is unseeded.

[2016-08-19 04:36] samreid commented on #60
Fixed above.  The only use case is in States of Matter.  I tested it manually and with a fuzz test and did not see any issues, but it would still be nice if @jbphet could review and make sure everything is OK after this change.

[2016-08-19 15:41] pixelzoom commented on #58
My vote would be to require `nextBetween` to have integer args, and rename it `nextIntBetween`, for symmetry with `nextInt`.

[2016-08-19 15:51] pixelzoom commented on #59
👍 Closing.

[2016-08-19 15:51] #59 closed

[2016-08-19 17:26] samreid commented on #58
Fixed above, @pixelzoom can you take a peek?

[2016-08-19 17:56] pixelzoom commented on #58
Replaced Number.isInteger with DOT.Util.isInteger.  Back to @samreid for review.

[2016-08-19 18:00] pixelzoom commented on #58
@samreid I still see 10 usages of `randomIntegerBetween` and 2 sims are failing (BLL, RPAL).  Looks like you missed some renaming.

[2016-08-19 18:04] pixelzoom commented on #58
`randomIntegerBetween` renamed to `nextIntBetween` for BLL and RPAL in above commits.

[2016-08-19 18:37] samreid opened #61 "Util.isInteger should throw an assertion error if a non-number is passed in."
Util.isInteger is currently defined like so:

[code]

In the doc, the parameter type is described as `{number}` and indeed it would seem like passing string, objects or booleans to this function should flagged as a logic error.  Hence, we should change `typeof number` to be an assert.  I discussed this with @pixelzoom and he agreed we should move to the assert.  I should also run fuzz test after t

[2016-08-19 18:39] samreid commented on #58
I ran the load tester after your changes and everything seems like it is working now, and usage of DOT.Util.isInteger looks good.  Anything else to do for this issue?

[2016-08-19 18:44] samreid commented on #61
After making this change, I ran http://localhost/chipper/test-server/test-sims.html?loadOnly and all is well.  Committing.

[2016-08-19 18:49] samreid commented on #61
Committed above, @pixelzoom would you mind double checking the change?

[2016-08-19 19:02] pixelzoom commented on #58
Nothing else to do, closing.

[2016-08-19 19:02] #58 closed

[2016-08-19 19:29] pixelzoom commented on #61
Looks good. But when an assertion fails, I like to have the offending value in the assertion message, like so:

[code]

@samreid Look OK?

[2016-08-19 19:31] samreid commented on #61
Yes, that is a good plan, closing.

[2016-08-23 19:20] jbphet commented on #60
The changes look reasonable and the sim's behavior seems correct.  Closing.

[2016-08-23 20:17] pixelzoom commented on #60
Reopening. The documentation still says:

[code]

[2016-08-23 20:56] samreid commented on #60
I fixed the docs in the preceding commit.  @pixelzoom please double check and close if all is well.

[2016-08-23 21:37] pixelzoom commented on #60
👍 Closing.

[2016-08-23 21:37] #60 closed

[2016-08-24 22:07] samreid opened #62 "Add documentation in Random.js about where the seeds come from"
@pixelzoom recommended to add documentation in Random.js about where the seeds come from.  Marking as high priority to add to my todo list.

[2016-08-24 22:07] samreid opened #63 "Code review for Random.js"
Since Random.js will be more widely used (via phet.joist.random), it should be reviewed.  @samreid should prepare it for review, then it would be nice if @pixelzoom has time to take a closer look.

[2016-08-29 15:52] samreid commented on #62
The documentation for the random seeds currently reads:

[code]

I'm unsure what to add. @pixelzoom can you please help?

[2016-08-29 16:08] samreid commented on #63
I've finished my cleanup, @pixelzoom are you available to review Random.js?

[2016-08-29 16:18] pixelzoom commented on #62
Looks good. Closing.

[2016-08-29 16:18] #62 closed

[2016-08-29 16:24] pixelzoom commented on #63
Cleanup looks great.

There is an unrelated issue, probably introduced when `shuffle` was implemented.  IDEA is flagging this line as a potential issue, "Constructor called without new"

[code]

[2016-08-29 16:33] samreid commented on #63
Agreed, we should use `new Array`, fixed above and it looks good in testing.  Anything else here?

[2016-08-29 16:35] pixelzoom commented on #63
Nothing else, closing.

[2016-08-29 16:35] #63 closed

[2016-09-08 05:31] jonathanolson commented on #7
Looks fleshed out to me (probably a duplicate), closing.

[2016-09-08 05:31] #7 closed

[2016-09-26 22:42] samreid opened #64 "Use chipper grunt build-js"
We should port dot to use chipper grunt build-js and delete copied grunt things.  Additional tasks that must be kept can be moved to chipper or chipper can run the extra tasks from kite.

See https://github.com/phetsims/scenery/issues/567

[2016-09-29 02:06] samreid commented on #64
I updated to use grunt build-js and the unit tests are working nicely.  @jonathanolson Should we harvest/resurrect the documentation task?

[code]

[2016-09-29 15:45] jonathanolson commented on #64
It should be brought back, yes.

Maybe it would be good to discuss whether this type of code (and the Kite one) could live in dot/kite, but be linked from chipper's gruntfiles?

[2016-10-01 00:55] samreid commented on #64
It looks like we could augment chipper grunt with custom tasks like so:

// dot/Gruntfile.js
[code]

[2016-10-01 01:23] samreid commented on #64
I added the documentation task back into dot/Gruntfile, but now it is leveraging chipper for `grunt build-js`.  My tests look good, @jonathanolson can you please take a look?

[2016-10-06 06:12] jonathanolson commented on #64
Looks great, thanks!

[2016-10-06 06:12] #64 closed

[2016-10-28 21:25] ariel-phet commented on #56
Now that @jonathanolson is back full time it might be a good time to discuss this issue

[2016-10-28 22:09] jonathanolson commented on #56
A tool to detect coverage would be great. I'm not familiar with any, would need to look into it.

[2016-10-31 05:01] samreid commented on #56
https://github.com/gotwarlost/istanbul and http://blanketjs.org/ look like popular options for measuring code coverage.  From the istanbul docs:

I don't have any familiarity with either of these tools.  The first question would be whether it integrates with our module loading patterns (e.g. if it can evaluate requirejs modules).

[2016-10-31 05:08] samreid commented on #56
Istanbul steps to run in the browser are here: https://github.com/gotwarlost/istanbul/issues/16#issuecomment-18031171

For blanket-js you must add data-cover to scripts like this:
[code]

[2016-11-03 18:27] samreid commented on #56
@jonathanolson volunteered to investigate this within the next several weeks.

[2016-11-05 17:04] samreid opened #65 "Use random.nextDouble and remove random.random"

[2016-11-05 17:11] samreid commented on #65
Fixed this, forgot to tag commits.

[2016-11-05 17:11] #65 closed

[2016-11-07 17:58] jonathanolson commented on #56
Istanbul (easy to use) shows Dot's unit tests cover approximately 30-34% depending on the metric used, and shows what code has no coverage.

Built with --mangle=false, instrumented:
[code]
modified compiled unit test HTML to use the instrumented version (temporarily), ran, ```copy(__coverage__)``` pasted to a file (coverage*.json), then:
[code]

shows:
![screen shot 2016-11-07 at 10 53 28 am](http

[2016-11-30 08:36] jonathanolson commented on #56
See https://github.com/phetsims/chipper/issues/402 for general implementation of code coverage.

@samreid, should this be closed (and we can open up issues for improving unit test coverage?)

[2016-12-01 18:15] samreid commented on #56
Thanks, we'll continue in https://github.com/phetsims/chipper/issues/402

[2016-12-01 18:15] #56 closed

[2017-03-24 15:20] samreid opened #66 "Add Vector2.rotatedAbout"
CCK has this code in LightBulb.js

[code]

@jonathanolson do you think it is appropriate to move this function to dot?  If so, what should the exact signature be?

[2017-03-30 17:17] jonathanolson commented on #66
Moving it to dot sounds good (Node's rotateAround can't be used here it seems).

Presumably:

- Vector2 method rotateAboutPoint/rotateAroundPoint, mutable: `function( origin, angle )`
- Vector2 method rotatedAboutPoint/rotatedAroundPoint, immutable: `function( origin, angle )`

For higher-dimension cases (Vector3/Vector4), we'd presumably handle rotating around an axis, with a different name and h

[2017-03-31 18:49] samreid commented on #66
I'm happy to proceed but wanted to briefly discuss the naming discrepancy between Node.rotateAround and the proposed method names for Vector2.  Is it desirable for them to differ?  Should one be changed so they match up?

[2017-04-06 02:01] samreid commented on #66
Why did you say:

Did you mean rotateAbout/rotateAboutPoint, where the first one would take x,y and the 2nd would take vector2?

[2017-04-06 02:13] jonathanolson commented on #66
Just meant I wasn't sure whether 'about' or 'around' should be used, ideally it would match Node's naming also.

It may be desirable to have multiple independent functions for this?
[code]

[2017-04-06 03:10] samreid commented on #66
Rough draft committed above, @jonathanolson would you mind spot checking it to see if I've forgotten anything?

[2017-04-06 04:46] jonathanolson commented on #66
Some quick notes (I'd handle but dot is getting checked out to many other branches right now):

1. Needs visibility annotations
2. `@param {Vector2} angle` should be number on rotatedAboutPoint
3. rotatedAboutPoint and rotateAboutXY missing returns annotation
4. use `@returns` instead of `@return`
5. Instead of "Mutable method that rotates a vector about an x,y point.", note that it mutates THIS v

[2017-04-06 15:21] samreid commented on #66
Thanks for the review @jonathanolson, I think I addressed the issues in the above 2 commits. Can you please double check?

[2017-04-06 18:49] jonathanolson commented on #66
Looks good to me, feel free to close if that's everything you needed.

[2017-04-07 03:10] #66 closed

[2017-06-14 04:23] samreid opened #67 "Inline Matrix3 element functions?"
While working on https://github.com/phetsims/circuit-construction-kit-common/issues/295 @jonathanolson and I noticed that Safari iPad3 tethering reported a non-negligible amount of time being spent in the Matrix3 element functions like `m00, m01`, etc.

We tried a CCK-DC test with the usual `m00` style functions and saw ?profiler report between 21-22 frames per second.  When inlining these functio

[2017-06-14 17:10] pixelzoom commented on #67
Can this be quantified? Will it be significant to the user experience? (The improvement for CCK was only 22fps to 23fps.)

[2017-06-14 19:16] jonathanolson commented on #67
If it's the difference between 22 and 23 fps, that's almost a 2ms difference. If that stays somewhat constant from a ~45ms frame to a ~16ms frame (~60fps), it would be a more significant difference. If an almost-60fps sim would instead only gain 0.7ms a frame, it's still potentially relevant.

[2017-06-14 22:36] samreid commented on #67
I'm inclined to investigate things like https://github.com/phetsims/circuit-construction-kit-common/issues/367 first

[2017-06-20 11:43] jgpATs2w opened #68 "i18n: decimal comma separator"
Unless there is other repo/mechanism to handle with internationalization, i would suggest to include dot in babel, with a parameter to allow translators to select the decimal separator, and make proper replacement in Utils.toFixed().
As always..., thanks for this great simulations!!

[2017-06-20 16:48] jonathanolson commented on #68
@ariel-phet, have we looked into using built-in browser support for number i18n? https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat now looks like it meets our minimum browser requirements, and would handle some cases where we would want to change how numbers are displayed:

[code]

Doesn't look like a catch-all, as I believe its behavior for Arabic may n

[2017-06-20 16:52] ariel-phet commented on #68
@jonathanolson I don't believe we have looked into built in browser support. I believe we usually have the option to set the separator on a sim by sim basis but perhaps I am mistaken.

Marking for dev-meeting

[2017-06-21 19:04] pixelzoom commented on #68
+1 for investigating built-in (browser) support for numbers.

[2017-06-21 20:27] samreid commented on #68
agreed

[2017-06-29 18:30] pixelzoom commented on #68
Perhaps we should ask the translator in Rosetta to enter:

decimalSeparator (default to '.')
thousandsSeparator (default to none)

[2017-06-29 18:30] samreid commented on #68
Would these strings be in Joist?

[2017-06-29 18:31] ariel-phet commented on #68
@oliver-phet will poll some of our translators about this issue

[2017-08-15 16:21] andrea-phet commented on #32
lineLineIntersection done. Assigning to @jonathanolson to review.

[2017-08-15 16:21] andrea-phet commented on #30
lineSegmentIntersection done. Assigning to @jonathanolson to review.

[2017-08-15 16:38] andrea-phet commented on #31
So should repeated roots be returned as [ 0, 0 ] or [ 0, 0, 0 ] for x^3 for example?

I.e., Should so lines 342-346 in Util:

[code]

be:

[code]

or:

[code]

[2017-08-29 21:34] pixelzoom commented on #68
@oliver-phet Any reply from translators?

[2017-08-30 17:03] oliver-phet commented on #68
The general consensus from trusted translators is that this is not a priority. A couple said it would help to have the control, others didn't mind.

[2017-08-31 22:23] samreid opened #69 "Review RunningAverage"
Moved here during https://github.com/phetsims/circuit-construction-kit-common/issues/317

@jonathanolson can you make sure it's good to go?

[2017-09-01 21:12] pixelzoom commented on #57
Reopening.

The replacement of `Range` with `RangeWithValue` apparently did not hit `@param` type expressions.  So now we have incorrect JSdoc.

For example, in beers-law-lab `BeersLawSolution`, we now have:

[code]

Since we're using `concentrationRange.defaultValue` (line 74), its type should be `{RangeWidthValue}` (line 55).

A quick search for ".defaultValue" shows that this problem occurs the

[2017-09-01 21:19] pixelzoom commented on #57
Type expression fixed were needed.  @jessegreenberg note that capacitor-law-basics.BatteryNode was touched. The others were my sims.  I think that's all of them, but not certain.  Will alert developers on Slack to be on the lookout.

Closing.

[2017-09-01 21:19] #57 closed

[2017-09-07 16:24] ariel-phet commented on #68
We will plan to make this automatic for each locale with established conventions, work to be done with Rosetta etc work

[2017-09-27 04:43] jonathanolson commented on #30
Ran into issues tonight with this function, will take the time to review here.

Tried running:
[code]
of two lines, essentially:

- 30.353261553154365, 16.69400908470202 => 72.78826487008264, 73.88814243860902
- 72.78826487008264, 73.88814243860902 => 89.96204100680747, 97.03505337951492

The current code returns ```Vector2 {x: 85.33333333333333, y: 85.33333333333333}```, while the old code return

[2017-09-27 04:50] jonathanolson commented on #30
Adding an epsilon for the denominator properly detects this case.

[2017-11-02 21:25] jonathanolson commented on #30
Failing for:
[code]
where the true intersection point would be at the shared endpoint (not a point that is 0.0007806235324924636 in distance from the shared endpoint).

[2017-11-16 19:16] pixelzoom opened #70 "change implementation of Util.isInteger"
This came up while working on https://github.com/phetsims/axon/issues/153, where Number.isInteger (an ES6 method) was used in NumberProperty.

I tried to use DOT.Util.isInteger (which we use elsewhere), but discovered that dot depends on axon, so there's a requirejs issue.

@jonathanolson suggested using this in NumberProperty:
`typeof n === 'number' && isFinite( n ) && n % 1 === 0`

I noted that

[2017-11-16 19:25] pixelzoom commented on #70
Hmmm...  I thought that @jonathanolson's suggest included something that was missing, namely `isFinite( n )`.   But `( Infinity % 1 === 0 ) === false`, so `isFinite( n )` appears to be unnecessary/redundant.   In that case, I'm leaning toward not making this change.

[2017-11-16 19:51] pixelzoom commented on #70
I see no advantage to making this change, so closing.  @jonathanolson if you disagree, feel free to reopen and make the change.

[2017-11-16 19:51] #70 closed

[2018-03-16 15:59] samreid opened #71 "Matrix.affine and Matrix.setToAffine have different argument orderings"
Matrix3.js:69 shows the argument order remapping:

[code]

From the scenery playground:

[code]

Is this arg reordering intentional?

[2018-03-16 16:50] jonathanolson commented on #71
It was, interestingly enough, potentially intentional (SVG matrices use that order for input). I'm up for making things consistent. What do you think should be done?

[2018-03-16 16:52] samreid commented on #71
I prefer making them consistent, and was expecting m00, m01, ... ordering (not sure if that violates any other conventions).

[2018-03-16 17:52] jonathanolson commented on #71
Patched, can you verify?

[2018-03-16 17:57] samreid commented on #71
Dot looks good, and I I updated the 2 occurrences in Wave Interference.  I'll check phetcommon later.

[2018-03-19 22:05] samreid commented on #71
I checked the occurrences in phetcommon, here are my notes:

[code]

All is well, closing.

[2018-03-19 22:05] #71 closed

[2018-04-06 20:49] zepumph opened #72 "Add median to dot.Util"
needed to support interaction dashboard https://github.com/phetsims/interaction-dashboard/issues/59. I think it is better to pull this into common code than in a common dir in that sim repo.

[2018-04-06 21:04] zepumph commented on #72
@samreid please spotcheck.

[2018-04-06 23:00] jonathanolson commented on #72
Saw the issue, some brief comments:

- Things like `something.forEach( function( ... ) { assert && assert( ... ); } )` should generally not be kept or run if we have assertions disabled. Prefer rewriting to `assert && something.forEach( function( ... ) { assert( ... ); } )`
- If an array has length zero, then it has no median, right? So we might want to use null (our standard value for "there isn'

[2018-04-09 15:30] samreid commented on #72
I think you mean even-length arrays.  Also, I didn't realize that either, but according to wikipedia and other sources it is correct: https://en.wikipedia.org/wiki/Median

[2018-04-10 23:40] zepumph commented on #72
I decided against supporting non numbers, so I got rid of the multi function solution. Everything else was fixed as expected. Back to you for a spot check @jonathanolson.

[2018-04-11 23:12] jonathanolson commented on #72
Looks good, thanks! Added `@public` and converted `2.0` => `2`, closing.

[2018-04-11 23:12] #72 closed

[2018-05-24 15:51] mbarlow12 opened #73 "Add options to enforce min/max exclusion"
The range type doesn't currently support arbitrarily set closed/open/half-open intervals. This feature may be useful in various settings (it arose when mapping alert text to non-zero input values in https://github.com/phetsims/molecules-and-light/issues/180).

I'm mildly concerned about how JS handles certain floating point situations (e.g. `var x = 0.1 * 0.2 = 0.020000000000000004`) and how they

[2018-05-24 16:27] jonathanolson commented on #73
As noted in Slack, these changes sound good. I don't think Range is used in performance-critical areas, so adding the options object should be totally fine (and helps for code readability).

Yup, seems somewhat unavoidable. Generally the client should round values as necessary, and it's best to NOT round in range checks. Can always use `Fraction` if we need to handle those fractional cases with fu

[2018-05-24 22:44] mbarlow12 commented on #73
Thanks for the best practices info @jonathanolson, I'll be sure to add that in the doc.

[2018-06-20 13:16] samreid opened #74 "Matrix3 pooling is broken"
Sim errors (dev):
acid-base-solutions
Uncaught Error: Assertion failed: Matrix3 constructor should not be called with any arguments.  Use Matrix3.createFromPool()/Matrix3.identity()/etc.
Error: Assertion failed: Matrix3 constructor should not be called with any arguments.  Use Matrix3.createFromPool()/Matrix3.identity()/etc.
    at window.assertions.assertFunction (http://localhost/assert/js/asser

[2018-06-20 13:18] samreid commented on #74
I'm seeing the same problem on http://phettest.colorado.edu/acid-base-solutions/acid-base-solutions_en.html?ea&brand=phet

Not sure why CT is no longer seeing the problem.

[2018-06-20 13:23] samreid commented on #74
This code looks unused:

[code]

[2018-06-20 18:14] jonathanolson commented on #74
Sorry I believe I had unpushed commits last night. Can you check to see if things are working now?

[2018-06-20 18:21] samreid commented on #74
It seems my assertion is still commented out, should we add that back in now?

[2018-06-20 22:05] jonathanolson commented on #74
Should be reverted. Can this be closed?

[2018-06-23 03:15] samreid commented on #74
All set, thanks!  Closing.

[2018-06-23 03:15] #74 closed

[2018-07-09 18:03] pixelzoom opened #75 "built-in modulo operator % is broken on iOS 9 + Safari"
The built-in modulo operator `%` is broken on mobile Safari in iOS9.  See for example https://github.com/phetsims/equality-explorer/issues/134#issuecomment-403556496, where we discovered:

[code]

After discussing with @jonathanolson, we are going to:

- [x] Create `Util.mod` as a replacement for `%`

- [x] Use `Util.mod` in `Util.gcd`, since it is responsible for https://github.com/phetsims/equal

[2018-07-09 18:08] pixelzoom commented on #75
@jonathanolson I implemented `Util.mod` and patched `Util.gcd`.  Please review the above commit.

[2018-07-09 18:10] jonathanolson commented on #75
Commit above looks good, thanks!

[2018-07-09 19:11] pixelzoom commented on #75
We should add unit test for `Util.mod` to `UtilTests.js`, but I'm not clear on what a sufficient set of tests would be.

[2018-07-11 21:08] pixelzoom commented on #75
This is labeled for developer meeting to (1) make all developers aware of this problem, and (2) discuss what other uses of `%` to replace with `Util.mod`.

[2018-07-11 23:15] samreid commented on #75
* We have hopefully caught problems in QA, so this reduces the likelihood of a problem like this in the wild.  We could rely on QA going forward.

If we are still worried, we could:
* temporarily "transpile" all `%` to `Util.modAssert` which tests the arguments to see if they are in a valid range (which we determine from iOS testing).
* manually review code existing or new code

[2018-07-12 18:59] pixelzoom commented on #75
7/12/18 dev meeting
• made all developers aware
• no proactive changes, fix things as we find them

[2018-07-12 18:59] #75 closed

[2018-08-14 16:40] zepumph commented on #73
This looks really nice thanks for doing that!

[2018-08-14 22:53] mbarlow12 commented on #73
Thanks @zepumph! I think I can close this.

[2018-09-19 16:46] zepumph opened #76 "Vector2 and Vector2IO have duplicate toStateObject and fromStateObject methods"
Vector2 and Vecto2IO both have the same lines of code, we probably don't want that logic in both places, but it is hard to tell the usages of  `Vector2.toStateObject`.

[2018-10-02 04:37] pixelzoom commented on #76
They also have duplicate `fromStateObject` methods.

[2018-10-02 16:01] chrisklus opened #77 "Add mutable functions to Range"
From slack:

Chris Klusendorf [4:04 PM]
@jbphet and I are thinking of adding some mutable functions to Range.js, likely `setMin()`, `setMax()`, and `setMinMax()`. Any objections?

Michael Kauzmann [4:04 PM]
No objections here. I like the idea.

Chris Malley [4:30 PM]
what’s the use case?

Chris Klusendorf [4:40 PM]
I’m refactoring HorizontalSurface (the top and bottom surface of a movable element)

[2018-10-02 19:06] chrisklus commented on #77
@pixelzoom please review at your convenience.

I was not sure if I should use `this._min` and `this._max` for every internal use case or to instead leave them as `this.min` and `this.max` for the internal read cases. I decided on `_` for all cases so that it was consistent and slightly better performance.

[2018-10-02 21:18] pixelzoom commented on #77
Based on problems reported on Slack, I'm guessing that this is not ready for review at the moment. Please assign back to me when it's ready.

[2018-10-02 22:19] zepumph commented on #76
From https://github.com/phetsims/graphing-quadratics/issues/38#issuecomment-426442151:

That looks good. I think that the level of verbosity is appropriate. We often to refer to these types of objects as "value types", but I think data structure is good too.

@samreid why are toStateObject and fromStateObject directly on the types for Vector2 and Quadratic. That feels like an antipattern to me, co

[2018-10-02 23:45] chrisklus commented on #77
Now ready for review @pixelzoom. To add to my question/thinking in https://github.com/phetsims/dot/issues/77#issuecomment-426393914, I realized that only makes sense in Range.js itself (I think), so I reverted the `_` usages in RangeWithValue in the above commit.

[2018-10-03 14:46] pixelzoom commented on #76
Defining `toStateObject` and `fromStateObject` directly on the wrapped type (e.g. Vector2, Color, Quadratic) is far from an anti pattern.  It's the pattern called encapsulation.  Rather, putting them on the IO type (e.g. Vector2IO, ColorIO, QuadraticIO) is the anti pattern; it requires exposing implementation details of the wrapper type to the IO type, duplication documentation, information spread

[2018-10-04 01:01] pixelzoom commented on #77
I made some changes, see above commits.

Three corrections:

- visibility of `_min` and `_max` should be `@private`, not `@public`
- assertions should validate constructor args, and should be the first line in the constructor
- Range `equals` needs to check `( other instanceof Range )`
- RangeWithValue equals should chain to

One subjective change:
- replaced verbage like "greater than or equal to

[2018-10-04 01:03] pixelzoom commented on #77
Labeling for developer meeting to discuss the "Two things to discuss" in the previous comment.

[2018-10-04 01:13] pixelzoom opened #78 "replace RangeWithValue with Range where appropriate"
In https://github.com/phetsims/dot/issues/57, Range was split into Range and RangeWithValue.  In https://github.com/phetsims/dot/issues/57#issuecomment-233428450, @mbarlow12 said:

The "gradually replace" part has apparently never happened.  There are occurrences of RangeWithValue that should be using Range.  That became obvious when reviewing change to Range and RangeWithValue in https://github.c

[2018-10-04 01:16] jonathanolson commented on #77
Yes, generally. We have usually avoided equals() in things that get inherited, but there are many cases where we don't have constructor/type checks.

[2018-10-04 01:37] pixelzoom commented on #78
I completed conversion of all my sims and the common-code demos.   Since that went so fast, I'll look at doing all other sims.

[2018-10-04 02:02] pixelzoom commented on #78
All sims have been converted.

I added this method to Range, to catch programming errors:

[code]

And I made `defaultValue` a required parameter for RangeWithValue constructor:

[code]

Leaving this labeled for developer meeting so that developers are aware of these changes.

[2018-10-04 02:03] pixelzoom commented on #77
@jonathanolson Which question are you answering "yes" to?

[2018-10-04 02:04] pixelzoom commented on #77
The `defaultValue` parameter is now required for RangeWithValue, completed in #78.

[2018-10-04 15:08] samreid opened #79 "Impedance mismatch between RangeWithValue and NumberProperty?"
From https://github.com/phetsims/dot/issues/78

I think there's a problem with some (many?) usages of RangeWithValue.  A typical usage is like this:

[code]

Why not create the NumberProperty directly in the first place?  Declaring it as a RangeWithValue in one place then picking values out for the NumberProperty redundant?  For example, CLBConstants.js declares:
[code]
Then the Property is declar

[2018-10-04 19:27] pixelzoom commented on #77
Range and RangeWithValue `equals` now use this comparison for type equivalence:

`( object.constructor === this.constructor )`

[2018-10-04 19:29] pixelzoom commented on #77
The remaining bit of work for this issue is unit tests `RangeTests` and `RangeWithValueTests`.

[2018-10-12 17:15] chrisklus opened #80 "Convert { min: , max: } => Range"
@samreid and I noticed that many places use a range object literal instead of the Range type, and RangeIO currently only supports the Range type. Instead of loosening restrictions on RangeIO, we would prefer if Range was used from now on. Alternatively, we could add support for the object literal range in RangeIO.

We discovered this while working on https://github.com/phetsims/graphing-quadratics

[2018-10-18 15:08] samreid commented on #80
This seems like a reasonable short-term workaround as I'm expecting our clients usages of `options.range` aren't doing anything crazy.  For instance, here's a "crazy" case that could lead to unexpected behavior.

[code]

Also, we should make a note to remove this workaround and replace it with an assertion once we've converted all sites.

[2018-10-25 04:05] chrisklus commented on #80
Beast of a change! Assigning to @samreid and @zepumph for review however you see fit, whoever gets to it first.

[2018-10-25 04:42] chrisklus commented on #80
Marking for dev meeting 10/25/18 to notify devs that we should use Range instead of object literal ranges from now on.

[2018-10-25 16:54] zepumph commented on #80
To review I searched for many versions of `{ min: .*, max:`, in different orders, different spacing, etc. I couldn't find any more usages.

I then looked into the about 10 of the above commits, and they all looked thorough and complete to me.

[2018-10-25 20:35] zepumph commented on #80
I see an issue from CT in optics lab that may have to do with this:
[code]

[2018-10-25 20:38] chrisklus commented on #80
@zepumph that was the one invalid range I found, see https://github.com/phetsims/optics-lab/issues/22. Do you think anything else needs to be addressed for this issue?

[2018-10-25 20:47] zepumph commented on #80
I just saw another issue. There were some Range imports that made their way into the ifphetio block instead of into the normal module blocks. For example in NodeIO.

[2018-10-25 21:02] chrisklus commented on #80
Ahh shoot, I was trying to be wary of that once I noticed ifphetio blocks, but not soon enough apparently. Should I verify them all or merge the effort with your approach in https://github.com/phetsims/phet-io/issues/1396#issuecomment-432834556.

[2018-10-25 21:36] zepumph commented on #80
I think that is likely best.

[2018-10-25 21:37] zepumph commented on #80
Please note also that https://github.com/phetsims/tasks/issues/963 is a work in progress.

[2018-10-25 21:44] chrisklus commented on #80
Cool, thanks. I'd be surprised if there were more than one or two other cases of this, if any.

[2018-10-25 23:49] chrisklus commented on #80
Since it was easy to scan through of the `// ifphetio` blocks, I quickly verified that no other Range imports wound up there. Closing.

[2018-10-25 23:49] #80 closed

[2018-10-31 15:54] pixelzoom commented on #79
@samreid said:

Until 10/17/18 (which is actually before this issue was created), the type of NumberProperty's range option was `{Range|{min:number, max:number}|null}`.  The API changed, so keep that in mind when you're evaluating the usages shown above.  And for at least one of the examples above (BLL), NumberProperty and its range option didn't exist when the code was written.

I don't know if i

[2018-11-01 19:17] chrisklus commented on #80
Regarding https://github.com/phetsims/dot/issues/80#issuecomment-432912643, we ended up having this discussion during 11/1/18 dev meeting, so devs are on board with using Range instead of the object literal range. We also clarified that this only applies to object literals with only min and max. For example, `{ min: , max: , color: }` is still valid.

[2018-11-19 02:05] samreid commented on #76
For Vector2 I agree it makes the most sense to move these methods from Vector2IO to Vector2.  Leaving assigned to @zepumph for review/discussion.  Anything else to do here?

[2018-11-20 23:16] zepumph commented on #76
That looks good for Vector2. I wonder if we may use this same approach in the future for other value types like RangeIO or Bounds2IO.

[2018-11-20 23:16] #76 closed

[2018-11-20 23:17] zepumph commented on #76
We don't have a need for that now though, closing.

[2018-11-21 05:59] samreid commented on #79
One other possibility would be to create a new type `RangeWithValueNumberProperty` which knows how to take the default value and range, like so:

[code]

Skimming through occurrences of `.defaultProperty`, I saw >20 cases that could use this pattern, and it will free us up from specifying the same thing twice in all of these cases (and prevent the values from getting out of sync during maintenance

[2018-11-21 16:03] pixelzoom commented on #79
If you don't mind, let's defer work on this issue until after the holiday.  I'd like to discuss before you proceed.

[2018-11-21 16:07] samreid commented on #79
I'm somewhat on the fence at the moment, so I'm happy to avoid implementing `RangeWithValueNumberProperty` for now.  However, if we had, say 50+ occurrences that matched this pattern, I would probably change my tune.  So how about marking deferred for now and re-evaluating in a year or so?

[2018-12-10 20:25] jbphet opened #81 "Performance problems with using "FastArray" in Matrix3"
As of this writing, `Matrix3.js` contains the following bit of code starting at line 26:

[code]

As part of work that is being done to improve the performance of the energy-forms-and-changes-sim (see https://github.com/phetsims/energy-forms-and-changes/issues/99), I was seeing a lot of time spent in this function.  Below is a screenshot that shows the bottom of the call stack with a bunch of long

[2018-12-11 18:50] jonathanolson commented on #81
Snapshot comparisons with added performance tests are showing that this should be safe, and the normal Array version in Chrome seems to be the overall fastest (shaving about 4% off of the combined sim load/fuzz from what we had before).

@jbphet can you see how this behaves in EFAC?

[2018-12-13 21:42] jbphet commented on #81
This is a vast improvement, so much so that I don't even see the calls to `createIdentityArray` in the call tree when I profile.  To compare, I picked a drag event from a RequireJS version on master and compared the duration of the call to `globalToParentPoint` to that in the profile shown in the image above.  Before the change, this was taking 70 ms, not it's taking 0.13 ms.  I'd call that a big

[2018-12-13 21:43] jbphet commented on #81
@jonathanolson - this is resolved as far as I'm concerned, you're welcome to close it unless there is further work that you believe is warranted.

[2018-12-13 21:47] #81 closed

[2018-12-30 03:52] pixelzoom commented on #79
Deferred, to be revisited no later than 11/21/2019.

[2018-12-30 03:54] pixelzoom commented on #77
Something this fundamental should not be left "in progress" for this long. So I've raised the priority to "high".  @chrisklus let me know if you need any help finishing this up.

[2018-12-30 03:56] pixelzoom commented on #19
Since we've moved to ES6, and `class` has replaced `inherit`, I'm going to go ahead an close this issue. Congratulations to anyone who still has code that uses explicit prototype assignment.

[2018-12-30 03:56] #19 closed

[2018-12-30 03:58] pixelzoom commented on #31
Hmmm... I just stumbled across this issue, and I'm a little concerned because (1) `solveCubicRootsReal` was apparently added for Graphing Quadratics, (2) Graphing Quadratics has been published with this code in it, and (3) there may be licensing issues.

@ariel-phet please review.

[2019-01-03 02:51] jonathanolson commented on #31
Looks like a triple root (`(x-0)*(x-0)*(x-0)`), so I'd expect `[ 0, 0, 0 ]` as the output.

So presumably it would be the third case.

@ariel-phet let me know if I should bump priority on this.

[2019-01-07 20:00] pixelzoom commented on #73
Reopening.

The documentation header on OpenRangeTests looks like a copy-paste error:

[code]

And there's dead code at the bottom of the file:

[code]

[2019-01-07 21:23] mbarlow12 commented on #73
Thanks @pixelzoom. Code uncommented, annotations updated, and tests passing. Assigning to you to close.

[2019-01-07 22:50] chrisklus commented on #77
Thanks for the help @pixelzoom, please review.

Since min and max for Range and RangeWithValue are inclusive, I wasn't sure if I should test the cases where, for example, `min === max` or `min < defaultValue === max` for all of the method tests (setMin(), setMax(), etc.). Maybe I should at least add `=` to the comparison operators in the testing messages so that they read more correctly, e.g. `set

[2019-01-08 15:46] KatieWoe opened #82 "CT: include both min and max throws an error"
[code]

[2019-01-08 17:10] chrisklus commented on #82
Looks like @mbarlow12 was doing some work on OpenRangeTests, want to take a look? I'm happy to join if I could be helpful.

[2019-01-08 17:35] mbarlow12 commented on #82
I'm a little confused here. When I run the unit tests locally, everything passes.  Do we have any info on how bayes executes the test suite?

[2019-01-08 17:39] chrisklus commented on #82
I was noticing that as well... I tried running with `brand=phet-io`, but no luck there either.

[2019-01-08 17:40] chrisklus commented on #82
phet-io brands somehow seems related, though. I'm not sure that is running.

[2019-01-08 17:43] chrisklus commented on #82
Well, not necessarily actually. Seems to be breaking on both require.js brands. I'm confused how there seems to be 28 tests running locally but 79 on bayes.

[2019-01-08 18:02] mbarlow12 commented on #82
It might be an error related to the use of arrow functions within the test modules. There can be issues with scope when using them within a test framework. I've removed them, but we can keep an eye on it.

[2019-01-08 18:07] chrisklus commented on #82
Hmm, I did the same thing yesterday when creating https://github.com/phetsims/dot/blob/master/js/RangeTests.js, so that would be odd.

[2019-01-08 19:15] pixelzoom commented on #77
Yeah, should be messages should be "<=" and ">=".   I didn't realize the `min === max` was a valid Range.   As for which tests to add...  Technically, you want to be as complete as possible, and that means testing boundary conditions (as you've noted).  That said, I don't know how "complete" PhET wants to (or needs) to be.   I'm not a fan of "test driven development", where there's a test case for

[2019-01-08 19:17] pixelzoom commented on #73
👍 Closing.

[2019-01-08 20:14] mbarlow12 commented on #82
@KatieWoe, I committed some changes that should address the issue. Could you confirm whether it's resolved? Thanks!

[2019-01-08 20:50] KatieWoe commented on #82
Looks good in CT.  Will reopen if it reappears

[2019-01-08 20:50] #82 closed

[2019-01-09 00:51] pixelzoom commented on #73
Reopening. OpenRangeTests is failing CT:

[code]

[2019-01-09 00:59] chrisklus commented on #77
Yeah, I'm leaning towards this as well. Might be nice to discuss at dev meeting for general/future reference though, as you said.

For now, I've updated the messages and will mark for discussion.

[2019-01-09 01:45] mbarlow12 commented on #73
@zepumph helped in making a check that `window.assert` is active whenever we check for assertion errors with `assert.throws`. Should be fixed.

[2019-01-09 18:03] pixelzoom commented on #73
All dot tests are passing with and without `?ea` in phetmarks.  Closing.

[2019-01-09 18:03] #73 closed

[2019-01-10 15:16] mbarlow12 opened #83 "Reason for not running all unit tests with assertions enabled?"
While addressing some issues related to https://github.com/phetsims/dot/issues/73, @zepumph indicated that for assertion errors, we need to check for `window.assert` prior to calling `assert.throws` within a test.

This made me curious as to why we don't simply run all unit tests with assertions enabled? If we're relying on `assert` to catch usage errors, then I would think our unit tests would al

[2019-01-10 19:42] chrisklus commented on #77
From 01/10/19 dev meeting.

@jonathanolson said:

@samreid said:

I'll go ahead and add in the rest of the "or equal to" cases.

[2019-01-23 17:54] pixelzoom opened #84 "Vector2 doesn't follow PhET getter conventions"
This bites me constantly, and I'm wondering if anyone else encounters it.

PhET's convention for getters is:

[code]

For example:

[code]

Vector2 uses a different pattern, with function names that don't look like getters and no ES5 getters. E.g.:

[code]

Here's the problem in practice:

[code]

Vector2 seems to be the only bad actor in DOT; Bounds2, Matrix3, etc. use the standard getter convent

[2019-01-28 20:30] zepumph commented on #84
In addition, @jessegreenberg and @zepumph were wondering about convention around boolean getters/functions. Here we have an example of booleans (that start with `is`) being properties, not functions, but there are other places where they are functions. Is there one that is preferred?

[code]

I'm hoping to discuss this both generally (if there is a preference) as well as what is best for these in

[2019-01-29 23:37] pixelzoom commented on #77
👍 I skimmed the commits and verified that the unit tests are passing. Closing.

[2019-01-29 23:37] #77 closed

[2019-01-30 00:38] #83 closed

[2019-01-31 00:31] samreid commented on #84
Now I'm envisioning instrumentation that uses `new Error().stack` + fuzzing + a server side component to automatically identify and repair cases.  Thanks JavaScript(tm)!

[2019-01-31 01:01] pixelzoom commented on #84
Yes, thanks Javascript.  Programming would be too easy if changing the name of something was a trivial operation supported by IDEs.  It's much more fun writing code to identify things that need to be changed manually.

[2019-01-31 03:33] samreid commented on #84
Every now and then I wonder if we should use Typescript or Flow.  That would make cases like this trivial, but I am concerned about other costs (learning curve, longevity, etc) being too high.

[2019-01-31 16:53] jonathanolson commented on #84
I regret the naming/conventions of this old code. If we can figure out a way to handle the renaming to things that fit better, I'm all for it.

[2019-02-05 21:55] chrisklus opened #85 "Vector sets all undefined values to 0"
@samreid and I noticed that in Vector2, Vector3, and Vector4, if a value is not provided, then it defaults that value to 0. This is fine and expected for something like `new Vector2(); // (0, 0)`, but is buggy and not desirable for something like `new Vector2( 7 ) // (7, 0)` or  `new Vector2( undefined, 7 ) // (0, 7)`. We think that only either no arguments or all arguments being typeof number wou

[2019-02-05 21:56] samreid commented on #85
Also, @jonathanolson pointed out that it is important for this code to be well-optimized.  For example, I counted:

181,235 Vector2 created during startup of EFAC
517,348 Vector2 created during startup of Wave Interference

[2019-02-05 21:59] samreid commented on #85
@jonathanolson would it be OK if we streamline the Vector2 constructor by requiring that it have 2 arguments, and create a separate method for creating a new zero Vector2?

[2019-02-05 22:09] samreid commented on #85
In my working copy, I converted all `new Vector2()` to `new Vector2(0,0)`.  Same for `new dot.Vector2()`.  During wave interference startup, this avoids over a million undefined checks.  Also, the Vector2 constructor is a bit simpler, so that's nice.  Also, it seems to me that `new Vector2(0,0)` is just as readable as `new Vector2()`, so I'm a fan of this approach.  I'll hold off committing until

[2019-02-08 18:05] zepumph opened #86 "create DOT/Stats.js"
I want to support calculations for values used when making box plots. This is to help me wean out outliers in https://github.com/phetsims/interaction-dashboard/issues/112. After discussing with @samreid, the way I want to accomplish this is to create a new file in dot called Stats.js that will have functions to get different quartiles, and to calculate the IQR.

We also think that `Util.median` sh

[2019-02-11 20:53] jonathanolson commented on #85
It seems fine to me, as long as there is a clear assertion stating what the change was.

[2019-02-12 00:28] zepumph commented on #86
Done above.

[2019-02-12 00:28] #86 closed

[2019-02-14 20:15] samreid commented on #84
@samreid will do `angle` and report back about how long it took.  To be specific, I'll add `getAngle` and `get angle` and convert all use cases to `get angle`.

[2019-02-15 03:07] samreid commented on #84
I skimmed through usages of `.angle()` and nothing was obviously wrong.  I changed those occurrences to `.angle` and changed dot to read:

[code]

Aqua is halfway through the "b"s and no problems noted thus far.  I'll push and monitor Bayes CT and local aqua for problems.

[2019-02-15 03:12] samreid commented on #84
I slacked dev-public: Sam Reid [8:12 PM]
Pushes to several repos incoming for https://github.com/phetsims/dot/issues/84

[2019-02-15 03:15] samreid commented on #84
Aqua is through f and still no trouble.  I would caution developers that if they were relying on extreme performance for `.angle()` you may wish to replace `get angle` with `getAngle`.  But hopefully that is not a problem.

[2019-02-15 03:17] samreid commented on #84
To simplify application of this pattern for `magnitude`, I would recommend changing occurrences of `Vector2`, `Vector3`, `Vector4`, `Quaternion` and `Complex` all at the same time so all `magnitude()` can be converted at once.

Back to @ariel-phet to assign another developer for next steps, or to reassign for developer meeting.

[2019-02-16 03:11] samreid commented on #85
I fixed and pushed this for Vector2.  This change revealed a problem in Balloons and Static Electricity unit tests, I'll create a separate issue for that.

[2019-02-16 03:22] samreid commented on #85
I committed the proposed changes.  @chrisklus can you please take a look around and see if I've forgotten anything?

[2019-02-16 18:39] pixelzoom commented on #85
CT is showing Uncaught Errors in several sims, related to Vector2 and Vector3.  The messages are “x needs to be a number” and “z needs to be a number”.   Affected sims are capacitor-lab-basics, estimation, gene-expression-essentials, molecule-shapes, molecule-shapes-basics, projectile-motion.  I'm guessing that these problems are related to this issue.

[2019-02-16 19:20] samreid commented on #85
I pushed proposed fixes for several of the repos.

[2019-02-18 18:14] Denz1994 commented on #84
Volunteering to handle `magnitude`. I will follow @samreid suggestion:

I'll test via aqua, locally on a few sims, and watch CT.

[2019-02-19 02:42] Denz1994 commented on #84
Instances of `.magnitude()` have been refactored to use the getter (i.e `.magnitude`). I ran local testing for Nueron, Gravity and Orbits, and BASE. Running all sims through aqua (2 times) also didn't prompt any issues. I will monitor CT for the next hour to make sure things aren't critically broken.

[2019-02-19 17:31] ariel-phet commented on #84
Putting back on dev meeting for this week so @Denz1994 and @samreid can report on their experiences. We will look for a volunteer to tackle the next method and perhaps we can make a new issue with a chip away check list.

[2019-02-21 18:43] pixelzoom commented on #84
2/21/19 dev meeting:
* SR and DB said that changes were straightforward and we should continue.
* Keep scope to Vector2 for now, but there may be other places.
* CM will create a new chip-away issue with a check list of which functions need to be addressed.
* CM will close this issue after above.

[2019-02-21 21:26] pixelzoom opened #87 "convert Vector2/3/4 methods to standard getter pattern"
I took a look at all of the `Vector2`, `Vector3`, and `Vector4` methods that take zero arguments, i.e. `function()`.   Discussed with @jonathanolson and here are our conclusions.

These were already converted by @samreid and @Denz1994 in https://github.com/phetsims/dot/issues/84:
* `magnitude`
* `angle`

These methods are operations that mutate the Vector2 instance. We won't change these.
* `norma

[2019-02-21 21:26] pixelzoom commented on #84
The new chip-away issue is https://github.com/phetsims/dot/issues/87.

Closing.

[2019-02-21 21:27] #84 closed

[2019-02-24 03:07] samreid opened #88 "Create Vector2Property"
From https://github.com/phetsims/axon/issues/221 we would like to create a custom `Vector2Property` type.

[2019-02-28 19:50] chrisklus commented on #87
I'm jumping on `perpendicular`, @jbphet is on `magnitudeSquared`.

[2019-03-06 16:27] samreid commented on #88
I've created Vector2Property and revised sites with these options to use it:

* `phetioType: PropertyIO( Vector2IO )`
* `valueType: Vector2`

Aqua is partway through testing phet brand and phet-io brand and no systemic issues are revealed.  If sim-specific issues appear on CT, I will look into them.

I'll send a note on slack, since this is a large-ish commit.

[2019-03-06 17:00] samreid commented on #88
From slack:

Chris Malley [9:45 AM]
Was the goal to convert all `{Property.<Vector2>}`, or just the ones that specified `valueType` or `phetioType`?
I still see 127 occurrences of “{Property.<Vector2>}“. Our goal in https://github.com/phetsims/axon/issues/196 was to proactively convert to type-specific Properties, so that things are ready for PhET-iO.
Some of those “{Property.<Vector2>}” are bugs

[2019-03-06 17:14] pixelzoom commented on #88
I've fixed the documentation for my sims, deleted incorrect/redundant type expressions where appropriate.   I've also converted the remainder of my sims to use `Vector2Property`, so that they are in good shape for eventual PhET-iO instrumentation.

[2019-03-06 21:50] jbphet commented on #87
The conversions for `magnitudeSquared` and 'perpendicular` sound now be complete.  Marking for dev meeting to decide who is up next.

[2019-03-06 21:59] samreid commented on #87
It appears those were the last two.  @jbphet if you concur, this issue can be closed.  If I'm wrong, please let me know and re-label for dev meeting.

[2019-03-06 23:52] pixelzoom commented on #87
Yes indeed, those were the last 2 that @jonathanolson and I identified in https://github.com/phetsims/dot/issues/87#issue-413131104.   So I'll take the liberty of closing.  Feel free to reopen if there's anything I've missed here.

[2019-03-06 23:52] #87 closed

[2019-03-07 14:30] pixelzoom commented on #88
Clients should not be able to change the type of a type-specific Property.  Setting `valueType` and `phetioType` is done incorrectly in Vector2Property.   See any of the other type-specific Properties for correct implementation.  For example, BooleanProperty:

[code]

[2019-03-07 20:53] zepumph opened #89 "Propery should support validator from phetioType"
Related to https://github.com/phetsims/dot/issues/88 because there we are talking about how to support phetioType and validator keys in Property. Similar to https://github.com/phetsims/axon/issues/204 because we did similar work in Emitter to omit duplication of supplying validators and phetioType when not necessary.

I created this issue because I saw work being done in https://github.com/phetsim

[2019-03-07 20:54] zepumph opened #90 "Factor out Property subtype assertions about validatorKeys"
Seeing the following chunk in BooleanProperty looks inefficient, and like there will be many duplications.

[code]

Can we add something like this to ValidatorDef instead, so that if we added another key, we wouldn't need to touch multiple spots?

Maybe something like
`ValidatorDef.assertNoValidatorKeys( options )`

[2019-03-07 21:00] pixelzoom commented on #88
I've reverted the buggy/gratuitous change to BooleanProperty.  All of the existing type-specific Properties use the identical pattern for setting type-related options.  There's no reason to change this.  Recommend to use the same pattern for Vector2Property, but if you want to use a different pattern that's fine.  But there's no reason to change the existing types.

[2019-03-07 21:03] pixelzoom commented on #90
Reverted, it's now:

[code]

I don't think that's a big deal.

[2019-03-07 21:10] zepumph commented on #90
It says:

[code]

which is basically stating, "don't supply any validator keys, because BooleanProperty supplies its own validator."

I think it is sloppy to have that here, far away from the definition of a `validatorDef`.

`valueType` is not different from the other keys in this case. All the assertions are just ensuring that no validator is being passed in.

[2019-03-07 23:10] samreid commented on #88
I replaced more patterns that were creating `new Property(Vector.ZERO)` and `new Property(new Vector2())`.  I could probably find more cases if I put a check in the Property constructor, but not sure whether that's beyond the point of diminishing returns.

[2019-03-08 02:17] pixelzoom commented on #89
Certainly desirable not to have both.  I don't have a feel for how much work is involved.

[2019-03-08 04:24] samreid commented on #90
https://github.com/phetsims/dot/issues/90#issue-418508433 sounds great to me, I think it would be used in a few places.

[2019-03-08 04:26] samreid commented on #89
@zepumph can you make a proposal for how we should deal with this in files like BooleanProperty?

[2019-03-08 13:49] pixelzoom commented on #88
Re the change to BooleanProperty in https://github.com/phetsims/dot/issues/88#issuecomment-470692197...  Tracking changes to how options are handled in https://github.com/phetsims/axon/issues/234.

[2019-03-08 13:50] pixelzoom commented on #88
Re the change to BooleanProperty in https://github.com/phetsims/dot/issues/88#issuecomment-470692197...
Tracking changes to how options are handled in https://github.com/phetsims/axon/issues/234.
Discussing best practices for options in https://github.com/phetsims/phet-info/issues/96.

[2019-03-08 13:58] pixelzoom commented on #89
I'm going to transfer this issue from dot to axon, because it's about Property, not specific to dot.

[2019-03-08 13:59] pixelzoom commented on #90
I'm going to transfer this issue from dot to axon, because it's (mostly) related to Property changes, not specific to dot.

[2019-03-13 20:55] jbphet opened #91 "Bounds2.dirtyFromPool() doesn't work"
@chrisklus and I were working to reduce allocations in Energy Forms and Changes, and we tried to use `Bounds2.dirtyFromPool`, and it threw an assertion.  I suspect that all that is needed is a no-argument constructor, but there may be a reason that this doesn't exist, so I'm logging an issue and assigning to @jonathanolson, since he created both `Bounds2` and `Poolable`.

[2019-03-13 21:21] chrisklus commented on #91
@jbphet and I noticed that Vector2's poolable mixInto() call has default values, but Bounds2 did not. We added those and now `Bounds2.dirtyFromPool` works.

@jonathanolson please review.

[2019-03-14 15:32] samreid commented on #91
The above commit uses these default values for Bounds2:

[code]

It is unclear why these are desirable/correct defaults.  Can you please document/clarify?

[2019-03-14 15:43] chrisklus commented on #91
We were using `Bounds2.dirtyFromPool` as a replacement of allocating new Bounds as `Bounds2.NOTHING`, which contains those values.

Do you think `[ 0, 0, 0, 0 ]` would be more appropriate?

[2019-03-14 15:46] samreid commented on #91
Bounds2.NOTHING seems reasonable, perhaps document it and use its values like:
[code]

[2019-03-14 16:48] chrisklus commented on #91
Fixed, thanks @samreid.

[2019-03-22 06:18] pixelzoom opened #92 "allocation-free test for bounds intersection"
In Gas Properties, I have a couple of situations where I need to test whether moving particles intersect a Bounds2.   I want something like Bounds2 `intersectsBounds( bounds:Bounds2 )`, but I don't want to allocate a Bounds2.

I'm considering adding something like this to Bounds2:

[code]

Use in Gas Properties `Particle` would be something like:

[code]

Questions for @jonathanolson:

(1) Do you

[2019-03-22 06:27] pixelzoom commented on #92
Another thing I'm wondering about is the calls to `Math.min` and `Math.max` in Bounds2 `intersectsBounds`.  I'm going to be calling this thousands of times in each `step` call, and I currently have my own "intersects" method that is like `interectsMinMax` proposed above, but with the `Math.min` and `Math.max` replaced by `if then`.

[2019-03-22 06:36] pixelzoom commented on #92
Here's what I currently have in `GAS_PROPERTIES/Particle`:

[code]

[2019-03-25 19:47] pixelzoom commented on #88
Looks like unit tests have not been implemented for Vector2Property.

[2019-03-25 19:56] pixelzoom commented on #88
I added unit tests in the previous commit.

@samreid anything else to do here other than review?

[2019-03-25 19:57] pixelzoom commented on #69
This has been "ready for review" since 8/2017, raising priority.

[2019-03-25 19:58] pixelzoom commented on #92
No reply from @jonathanolson.

I'm going to proceed with my own sim-specific optimized method.

[2019-03-25 19:58] #92 closed

[2019-03-25 21:07] samreid commented on #69
This implementation looks heavily micro-optimized and overly complicated and hence error-prone.  I recommend a rewrite that focuses on clarity and correctness.

[2019-04-15 15:20] samreid opened #93 "Unnecessary `new Matrix` in one unused method."
While working on https://github.com/phetsims/wave-interference/issues/354 I noticed this in Matrix.js:

[code]

Note the allocation of `var result = new Matrix( this.m, this.n );` is unnecessary and we can use `this.index` instead of `result.index`.  However, I noticed that our code doesn't ever call `plusEquals` so this isn't causing any problems at the moment.

[2019-04-16 20:14] jonathanolson commented on #93
Looks good, thanks!

[2019-04-16 20:14] #93 closed

[2019-04-26 18:37] pixelzoom opened #94 "add Random nextDoubleBetween"
`Random` has `nextIntBetween`, but no `nextDoubleBetween`.

@jonathanolson OK if I add this, of would you prefer a different implementation?

[code]

[2019-04-28 18:17] pixelzoom opened #95 "address TODOs"
Several TODOs and dead code in Quaternion.js with no associated GitHub issue:

[code]

[code]

[code]

[2019-04-28 18:23] pixelzoom opened #96 "53 TODO comments in dot"
There are currently 53 TODO comments in dot, with no associated GitHub issues.  That's against PhET policy, and pretty much assures that they will never be addressed.

Related to https://github.com/phetsims/dot/issues/49, where we're supposed to bring dot up to PhET code standards (open for close to 3 years).

Assigning to @ariel-phet to prioritize and assign.

[2019-04-28 18:24] pixelzoom commented on #95
This is apparently a pervasive problem in dot.  Moving to https://github.com/phetsims/dot/issues/96.

[2019-04-30 16:09] pixelzoom commented on #94
I went ahead and added `nextDoubleBetween` to random.   @ariel-phet please assign someone to review.

[2019-04-30 18:41] jonathanolson commented on #94
Looks good to me.

[2019-04-30 22:56] #94 closed

[2019-05-23 02:34] ariel-phet commented on #96
For the moment, this is deferred. I do recognize the general issue here, and the hope is to address this (and related documentation/standards issues) after Density and Buoyancy are complete. I also recognize that we have continued to push this work back, but I will be strongly advocating for it once these sims get to the testing phase. No other real choice currently due to funding constraints.

[2019-06-30 23:42] samreid commented on #88
The unit tests look like they have good coverage.  I can't think of anything else for this issue.  @pixelzoom does Vector2Property need further review?  Can this issue be closed?

[2019-07-03 18:18] pixelzoom commented on #88
I think this is OK to close.

[2019-07-03 18:18] #88 closed

[2019-11-22 23:00] pixelzoom opened #97 "create Dimension3"
It would be nice to have DOT/Dimension3 for use in Natural Selection, and it does not currently exist.  ESTIMATION/Dimension3 exists, but it's pretty raw.  So I'm going to create DOT/Dimension3, with API similar to DOT/Dimension2.

[2019-11-23 00:05] pixelzoom commented on #97
Decided that I don't need this after all in Natural Selection, so closing.

[2019-11-25 13:57] samreid commented on #68
@kathy-phet said:

[2019-11-25 13:57] samreid commented on #68
It appears Intl.NumberFormat was introduced around 2013.  We discussed it in this issue https://github.com/phetsims/dot/issues/68 in 2017 and there is a related issue for i18n of the keypad in https://github.com/phetsims/scenery-phet/issues/333.  I’ll post your comment in dot#68 and check the status.

@jbphet or @ariel-phet can you please comment on the status?

[2019-11-25 16:39] jbphet commented on #68
This is just one of those features that has never bubbled to the top of the priority list.  @oliver-phet said above:

We can reconsider and make it a priority if needed.

[2019-11-30 23:01] samreid opened #98 "Improve Transform3 matrix validation"
While working on https://github.com/phetsims/circuit-construction-kit-common/issues/536 and https://github.com/phetsims/circuit-construction-kit-common/issues/535, I noticed that Transform3 uses a rule for validating its matrices that is incompatible with the strategy used in ModelViewTransform2.  It would be nice to use an approach that can be overriden in ModelViewTransform2.  I'll commit then r

[2019-11-30 23:15] samreid commented on #98
Fixed in the preceding commits. Also, I remove an extraneous assertion in `setMatrix` since it immediately calls `invalidate` with the same value.

@jonathanolson do you mind double checking?  It should be quick.

[2019-12-02 21:12] ariel-phet commented on #68
I will try to bring this question up at status meeting this week.

[2019-12-05 18:19] samreid commented on #68
new Intl.NumberFormat relies on BCP 47 language tag, so we would likely want to build and maintain a mapping from our codes to the BCP47.

[2019-12-05 19:03] oliver-phet commented on #68
https://tools.ietf.org/html/bcp47#section-2

[2019-12-09 21:05] zepumph opened #99 "Add normalization function to Range.js"
I asked on slack if this would be useful:

[code]

The answer was yes, and it will help with issues like https://github.com/phetsims/molarity/issues/183. I'll add it. People liked `getNormalizedValue` best.

[2019-12-09 21:29] zepumph commented on #99
@pixelzoom mentioned that it is a bit weird to have the term "normalize" in a function that doesn't strictly return a number between 0 and 1, since `new phet.dot.Range( -10, 10 ).getNormalizedValue( -20 ) => -0.5`.

I'll make sure to add some doc for that.

[2019-12-09 21:32] zepumph commented on #99
@samreid also mentioned that he didn't love the term "normalize", and would rather something like “fraction”, “ratio” or “proportion”. No one seemed to second it.

@pixelzoom will you please review this new function and its tests. Anything else here?

[2019-12-10 21:27] pixelzoom commented on #99
Implementation and tests look good.  The doc was sort of odd -- there was a typo, and the description of the return value was in 2 different places.  So I fixed the typo and consolidated into one place, see above commits.   Closing.

[2019-12-10 21:27] #99 closed

[2019-12-12 18:56] jonathanolson commented on #98
That looks nice to me, thanks!

[2019-12-12 18:56] #98 closed

[2020-03-25 14:03] pixelzoom opened #100 "Vector2IO and Vector3IO use different patterns"
I ran into this in Natural Selection, which uses both Vector2 and Vector3.

Vector2IO and Vector3IO are currently implemented differently, using different patterns.

As the result of https://github.com/phetsims/dot/issues/76, Vector2IO delegates to Vector2:

[code]

Vector3IO does not delegate to Vector3:

[code]

Unless there's a good reason not to,  recommended to use the same pattern (preferabl

[2020-03-25 14:19] pixelzoom opened #101 "changes to Vector3 for ES6 modules"
Noted while using Vector3 in Natural Selection, and working on https://github.com/phetsims/dot/issues/100.

In Vector3:

[code]

Now that's we're using ES6 modules:

* Can the odd imports be changed/removed?
* Can the "NOTE" comment be removed/revised?
* Can `dot.Quaternion` be replaced with an import?

[2020-03-25 14:21] pixelzoom commented on #101
Looks like there are other uses of the `dot` import that should be reviewed:

[code]

[2020-03-25 14:28] pixelzoom commented on #100
Done in the above commits.  No PhET-iO API changes were required.

Would one of the assignees please volunteer to review?

[2020-03-25 16:37] zepumph commented on #100
Changes look great thanks!

[2020-03-25 16:43] #100 closed

[2020-04-30 16:09] pixelzoom opened #102 "add Random.sampleSize"
For Natural Selection, I need the equivalent of lodash's `_.sampleSize( array, n)`, which randomly chooses n elements from array.   Playback requires that all "random" things must be done using phet.joist.random, so this needs to be added to `dot.Random`.

We started discussing this on Slack (see below), but didn't come to any conclusions.

<details>
<summary>Slack discussion</summary>

Jonathan O

[2020-05-05 18:27] ariel-phet commented on #102
@_pixelzoom is this something that could wait until mid May, might be a nice one for Brandon

[2020-05-06 00:14] pixelzoom commented on #102
Yes, could wait until mid-May.

[2020-05-06 00:15] pixelzoom commented on #102
Here's my current implementation in NaturalSelectionUtils.js.  Note that it also removes the items that it samples from the array, important for my application.

[code]

[2020-05-15 20:18] pixelzoom commented on #102
No longer needed in Natural Selection, I changed how I'm selecting newborn bunnies for mutation, see phetsims/natural-selection#65. Closing.

[2020-05-15 20:18] #102 closed

[2020-06-18 16:47] samreid commented on #61
That looks preferable, thanks!  Also, please be apprised of https://github.com/phetsims/tasks/issues/1039 in which we may use `Number.isInteger` instead of `% 1 === 0`

[2020-06-18 16:53] pixelzoom commented on #61
Changed in the above commit.

Thanks for the heads up on phetsims/tasks#1039.  I'm going to ignore that for the purposes of this issues.

Closing.

[2020-06-18 16:53] #61 closed

[2020-08-17 21:50] pixelzoom opened #103 "issues with Random.js"
Some issues with Random.js

- [x] this.seed is not defined in constructor and has no visibility annotation where it's defined in setSeed
- [x] this.seedrandom is not defined in constructor and has no visibility annotation where it's defined in setSeed
- [x] missing visibility annotations for several methods
- [x] there is no getSeed method
- [x] Math.setrandom is not documented, and apparently is

[2020-08-17 21:52] pixelzoom commented on #103
All issues addressed in the above commit. @ariel-phet please assign someone to review.  The authors listed in the source code are:

[code]

[2020-08-18 20:00] ariel-phet commented on #103
@samreid will review

[2020-08-18 21:03] samreid commented on #103
The commits look straightforward and correct.  I additionally converted to an ES6 class and used an arrow function (after confirming there are no `inherit( Random` occurrences.

It looks like there is an additional opportunity to clean up because there is no usage of `setSeed`.  I'll look at that next.

[2020-08-18 21:12] samreid commented on #103
Review complete, everything looks good.  Back to @pixelzoom to review changes made during the review.

[2020-08-19 20:46] pixelzoom commented on #103
👍🏻 closing.

[2020-08-19 20:46] #103 closed

[2020-12-31 23:49] samreid opened #104 "Eliminate Utils.isInteger"
Utils.isInteger was written to support IE since IE doesn't have `Number.isInteger`.  Now that we no longer support IE, we can eliminate `Utils.isInteger` and use `Number.isInteger`.

See also https://github.com/phetsims/tasks/issues/1037 and https://github.com/phetsims/tasks/issues/1039

[2021-01-06 05:02] samreid commented on #104
Pushed and ready for review.  Most conversions were straightforward `Utils.isInteger=>Number.isInteger`, and in some cases removing the `Utils` import.  Dot had a different commit because it also removed the function, and updated documentation.  @arouinfar can you please request a reviewer?

[2021-01-13 17:44] jbphet commented on #68
Marking again for dev meeting for two reasons:

1. This is never getting any time spent on it because it's marked as medium priority, and there are always higher priority things happening.  Should we schedule it to become high priority at some point?
2. We got a request for this feature from a translator, see https://github.com/phetsims/rosetta/issues/252
3. Should this issue be moved?  The dot re

[2021-01-14 17:20] ariel-phet commented on #104
@chrisklus is on the case

[2021-01-14 18:33] chrisklus commented on #104
Commits look good, updated docs/Utils look good, and I can't find any missed usages. Thanks @samreid, back to you.

[2021-01-15 00:36] ariel-phet commented on #31
Reading through this issue, I think the licensing questions have been dealt with. I think this issue should be closed and any remaining cleanup for `solveCubicRootsReal` should be moved to a separate issue.

[2021-01-15 02:40] samreid commented on #104
Thanks for the review, closing.

[2021-01-15 02:40] #104 closed

[2021-01-15 16:33] jonathanolson opened #105 "Root multiplicity in solveCubicRootsReal"
It looks like we should be including "repeated" roots multiple times in the returned array, but we're not. See https://github.com/phetsims/dot/issues/31#issuecomment-451044704

[2021-01-15 16:34] jonathanolson commented on #31
Added https://github.com/phetsims/dot/issues/105 to a separate issue, closing.

[2021-01-15 16:34] #31 closed

[2021-01-20 00:24] pixelzoom opened #106 "suggestions for Bounds2"
A couple of suggestions for Bounds2:

* Unlike `dilated` and `eroded`, `shifted` takes 2 args, and there is no `shiftedXY`. Ditto for `shift`.   I'm constantly guessing which calls to use and getting it wrong. Examples like this would be a lot clearer (and easier to write by guessing) if the APIs were the same for dialtion, erosion, and shifting:

[code]

* `dilated` and `dilatedXY` contain duplic

[2021-01-25 17:16] jbphet commented on #68
The dev team discussed this in the 1/25/2021 supplemental developer meeting, and I will follow up by first having @oliver-phet survey the translators in an effort to gauge how important and valuable this feature would be to them, and then to work with @kathy-phet to decide whether to allocate time to this now or defer.

[2021-01-25 17:18] samreid commented on #68
My note from https://github.com/phetsims/rosetta/issues/252#issuecomment-766972319

[2021-01-25 17:45] pixelzoom commented on #68
Elaborating on the survery idea...  The questions that I would ask are something like, for your locale:

* What decimal separator is used?
* Are students used to seeing the English separator (dot) and does it confuse them?
* Is using the correct separator essential, nice to have, or not really necessary?
* Is usabity or learning compromised if we do nothing, and continue to use the English separat

[2021-01-26 00:48] oliver-phet commented on #68
Thanks for the ideas @pixelzoom

[2021-01-28 19:38] jonathanolson commented on #106
I believe I've handled the above, can you verify?

[2021-01-28 22:22] oliver-phet commented on #68
We've [received 32 responses](https://docs.google.com/forms/d/1gSJAC5OJUZc1_22SJcUQc7VmePbn00i-KKtGiosZFLE/edit#responses) to the survey I sent to our full list of trusted translators (150 translators).

It seems this is a priority feature to translators:

- ~90% view using the correct separator as Essential / Nice to have
- 50% feel usability or learning would be compromised without the feature

[2021-01-28 22:25] jonathanolson commented on #69
This looks correct to me. It looks optimized (not micro-optimized) to me, and I'd like to keep it as-is. Objections @samreid?

[2021-01-29 00:35] samreid commented on #69
Without unit tests, I think the existing implementation is too complex to leave as-is.  Here is an untested simplified version that creates more garbage:

<details>
[code]
</details>

Leaving self-assigned to consider unit tests or performance comparison.

[2021-01-29 01:03] jonathanolson commented on #69
That implementation is potentially thousands of times slower for the anticipated usages, and seems to remove the point of the file. Agreed it's simpler, but if you have 10,000 samples, you're going from an effectively constant-time operation to moving every single of the 10,000 items in memory (the shift) PLUS re-scanning all 10,000 of the items. I wouldn't want tools used in measuring performance

[2021-01-29 16:31] samreid commented on #69
I'm feeling more confident about RunningAverage after adding some basic unit tests, I think this can be closed.

[2021-01-29 16:31] #69 closed

[2021-02-01 00:15] pixelzoom commented on #106
👍🏻 closing.

[2021-02-01 00:17] pixelzoom commented on #106
Reopening.  Should Bounds3 be addressed too? There is similar duplication and inconsistency in Bounds3.   And now Bounds2 and Bounds3 are have inconsisent APIs.

[2021-02-01 23:14] jonathanolson commented on #106
Agreed, they should be handled. Good catch!

Handled above, closing.

[2021-02-01 23:14] #106 closed

[2021-02-25 21:36] zepumph opened #107 "Vector2Property to get units?"
For PhET-iO, it was requested that some Vector2 Properties could get units. I think it would be awesome to add this. @samreid what do you think? I was just going to use units.js and copy the same sort of pattern as NumberProperty. Then add that to studio.

See https://github.com/phetsims/projectile-motion/issues/219 for the requests for places like:

projectileMotion.introScreen.model.measuringTap

[2021-02-25 22:06] samreid commented on #107
Units are already implemented in `Property`, not in `NumberProperty`, so it is possible `Vector2Property` already has support for units.

[2021-03-11 16:27] jonathanolson commented on #91
This looks great to me, thanks!

[2021-03-11 16:27] #91 closed

[2021-03-11 16:28] jonathanolson commented on #85
Looks great to me, thanks!

[2021-03-11 16:28] #85 closed

[2021-04-06 20:29] pixelzoom opened #108 "Rename Dimension2 flipped to swapped"
In https://github.com/phetsims/dot/commit/185b786e204dc35a00bed39085141aea97acc9a6, @zepumph added Dimension2 `flip`, later renamed `flipped`.   Dimensions are typically "swapped", not "flipped".   "Flip" can apply to a rectangle (described by width and height), but it's an operation that is typically done either horizontally or vertically, and it does not result in a swap of width and height.  So

[2021-04-06 20:31] pixelzoom commented on #108
`flipped` was added to support VSlider.  Here's more proof that it should be named `swapped`.  In VSlider.js, the comment says "Swap dimensions because...".

[code]

[2021-04-06 20:34] pixelzoom commented on #108
The only usages were in VSlider and fourier-making-waves, so this was a trivial change, and I'm not going to request a review. Closing.

[2021-04-06 20:34] #108 closed

[2021-04-08 16:47] jbphet commented on #68
I'm going to move this issue to the rosetta repo.  There really isn't a perfect place for this to go, since localization of the decimal separator is a very cross-cutting feature, and we're not sure at this point if we would do it automatically or based on translation, but having this issue in dot is clearly sub-optimal.

[2021-08-17 17:57] pixelzoom opened #109 "Utils.numberOfDecimalPlaces is buggy."
Something is very wrong with `numberOfDecimalPlaces`.

These are correct:
[code]

Then these are wrong:
[code]

Then these are corrrect:
[code]

This doesn't happen for anything other than 0.56, 0.57, 0.58.   And it's fine for 1.56 etc.

[code]

[2021-08-17 18:03] pixelzoom commented on #109
Ugh, there's a floating-point precision problem in this implementation:

[code]

The second time through the `while` loop, `value * multiplier` is `5.6000000000000005` not `5.6`.

[2021-08-17 18:18] pixelzoom commented on #109
Doing a Google search, the general advice was to implement this using strings, since trying to do it with numbers introduces floating-point approximation errors at some point.  So here's the new implementation, optimized for integers:

[code]

I added a unit test specifically for the `0.56` case, verify that unit tests are passing.

@jonathanolson would you mind reviewing?

[2021-08-17 19:25] jonathanolson commented on #109
Looks workable, but doesn't work for things where the `toString()` would return scientific notation (e.g. `1e-50`). Let's error out in those cases, and properly handle the other ones?

[2021-08-17 19:45] pixelzoom commented on #109
Thanks @jonathanolson, good suggestions. I hadn't consider scientific notation.   I've added assertions to fail if it's not a number, not a finite number, or if it's a non-integer in scientific notation.  See commit above, and here's the implementation:

[code]

One more round of review please.

[2021-08-17 22:41] jonathanolson commented on #109
Looks great to me, thanks!

[2021-08-17 23:13] pixelzoom commented on #109
Thanks for the review and help. Closing.

[2021-08-18 18:30] KatieWoe commented on #109
Same issue in https://github.com/phetsims/scenery-phet/issues/696 and https://github.com/phetsims/gene-expression-essentials/issues/139 that I saw

[2021-08-18 18:50] jonathanolson commented on #109
Looking into a generalization that should work.

[2021-08-18 19:01] jonathanolson commented on #109
Patched, added more unit tests for some assorted cases. @pixelzoom can you review? @KatieWoe can you let me know if the failures go away?

[2021-08-18 21:08] KatieWoe commented on #109
It is looking ok in CT. I'll let you know if that changes

[2021-08-22 19:24] pixelzoom commented on #109
@jonathanolson thanks for stepping in to handle this while I was gone.

Implenentation looks nice. Closing.

[2021-08-22 19:24] #109 closed

[2021-09-11 21:25] zepumph opened #110 "Vector2 serialization should use NumberIO"
from https://github.com/phetsims/tandem/issues/246

[2021-09-11 21:38] zepumph commented on #110
And also Vector3!

[2021-09-11 21:43] zepumph commented on #110
So now I have
![image](https://user-images.githubusercontent.com/6856943/132962291-c58752f5-f3f0-41ca-ab53-66404424dd80.png)

@jonathanolson please review.

[2021-09-11 21:43] zepumph commented on #110
Also note that I could have deleted the toSateObject function in exchange for the default coming from stateSchema, but I thought it was worth having around so people can call serialization directly on the Vector2 instance, instead of needing to go through the IO type.

[2021-10-07 23:05] zepumph opened #111 "Should Vectors support NaN?"
From https://github.com/phetsims/tandem/issues/246:

I don't feel strongly, but I can't understand why we wouldn't want to immediately assert out in a case where you try to set to NaN. Marking for dev meeting for a quick convo.

[2021-10-22 21:53] samreid opened #112 "Improve LinearFunction API"
During TypeScript porting with @jbphet, we saw that TypeScript was confused by our usage of LinearFunction.  We say it is a `@constructor` and invoke it with `new` but we return a different function from the constructor.  This causes type errors in TypeScript.  We found things get better if we remove `@constructor` and `new`.  We may also want to return a rich object with "evaluate" and "inverse"

[2021-11-02 13:13] samreid commented on #112
I'm planning to turn LinearFunction into a class with an `evaluate` method.  It will be instantiated with `new`.  This will match up with other interfaces we use such as `Transform1` and `PiecewiseLinearFunction`.  There are around 70+ usages of LinearFunction, so they will need to all be updated.

[2021-11-02 14:22] samreid commented on #112
Everything is passing aqua locally, I think this is ready for commit.

[2021-11-02 14:27] samreid commented on #112
I wasn't sure who to ask for review, so I ran

[code]

@jessegreenberg can you please review?  Close if all is well.

[2021-11-02 14:28] samreid commented on #112
On second thought, I noticed the original author of LinearFunction was @pixelzoom, so perhaps @pixelzoom should review.

[2021-11-02 17:45] pixelzoom commented on #112
The proposed solution sounds great to me. I've always hated the original implementation - which was a consensus as I recall, to make call sites less verbose.

[2021-11-02 17:53] samreid commented on #112
Thanks, closing.

[2021-11-02 17:54] samreid commented on #112
Upon reflection, it is unclear whether @pixelzoom reviewed the implementation or the proposal only.  @pixelzoom can you clarify?  Please close if all is well.

[2021-11-03 16:52] pixelzoom commented on #112
Implementation looks good, closing.

[2021-11-03 16:52] #112 closed

[2022-06-22 17:11] pixelzoom opened #113 "Utils.toFixed returns incorrect results in some cases"
Discovered while working on https://github.com/phetsims/scenery-phet/issues/747.

`Utils.toFixed` was created as a workaround for problems with built-in `toFixed`, which rounds differently on different browsers.

Here's the current implementation:

[code]

But `Utils.toFixed` does not return the correct value in all cases. It's subject to floating-point error.

For example, this should be '35.86':

[2022-06-23 15:34] KatieWoe opened #114 "CT Stats: median failed Stats: Quartiles failed"
[code]

[2022-06-23 17:03] #114 closed, assigned to zepumph

[2022-06-23 18:29] zepumph commented on #113
From dev meeting today, we will wait to discuss with @pixelzoom and @jonathanolson.

[2022-06-24 02:46] marlitas opened #115 "Matrix4 Using EnumerationDeprecated"
While testing Mean: Share and Balance with the `deprecationWarnings` query param I discovered that by using Matrix 3 I was inherently using EnumerationDeprecated through Matrix4.

Assigning to @jonathanolson the author of the Matrix4 file for investigation or comment.

[2022-06-30 17:44] jessegreenberg commented on #113
@liam-mulhall suggested a library like [math.js](https://mathjs.org/index.html) that may have support for handling this.
@pixelzoom: Yes, we have discussed before. It could be a big change, we would have to use that any time we work with numbers. But it could be good to investigate.
@zepumph: Can we use a library in specific cases instead of using broadly?

@pixelzoom: Since this is a systemic pro

[2022-06-30 18:14] zepumph opened #116 "Use a more accurate number library"
From https://github.com/phetsims/dot/issues/113 and many other times since moving to javascript, there are rounding problems with javascript's floating point implementation.

We have reached the point that it would be nice to investigate another library, and we feel like it is potentially possible to do so in specific cases, instead of needing to use this everywhere all at once.

Marking as an epi

[2022-06-30 18:39] zepumph commented on #116
Some ideas about this over in https://github.com/phetsims/dot/issues/113 is to replace the ScientificNotationNode's usage of `toExponential`, and potentially to rewrite DOT/Utils.toFixed.

[2022-06-30 18:42] zepumph commented on #113
This investigation should be handled over in the epic issue in https://github.com/phetsims/dot/issues/116

[2022-07-05 17:24] samreid commented on #113
This StackOverflow post refers to an MDN polyfill implementation they describe as "reliable rounding implementation".  https://stackoverflow.com/questions/42109818/reliable-js-rounding-numbers-with-tofixed2-of-a-3-decimal-number.

I tested it in the browser console and it appeared to have the correct behavior for the error case above (same good behavior on Chrome and Firefox):

[code]

Note this r

[2022-07-07 19:56] kathy-phet commented on #116
Found a different solution. Closing, and will re-open if needed.

[2022-07-07 19:56] #116 closed

[2022-11-07 17:55] veillette opened #117 "return type for solveQuadraticRootsReal and solveCubicRootsReal"
Here is the method for solveQuadraticRootsReal
[code]

If the discriminant is smaller than zero, it returns an empty array.

[code]

The return type is therefore never null. A similar issue jsDoc is present with solveCubicRootsReal.
But undefined is not a type so I'm not sure how to indicate an empty array. Also, I'm not sure if we should correct the implementation to match the documentation or vi

[2022-11-08 16:44] jonathanolson commented on #117
`solveQuadraticRootsReal( 0, 0, 0 )` returns null, so the documentation seems to match the behavior. It calls into `solveLinearRootsReal`, which has a `return null` here: https://github.com/phetsims/dot/blob/d5651b2c7a2f57f068299c5472b47b4797662fb9/js/Utils.js#L376

[2022-11-08 18:10] #117 closed